$header003-fon: #3b8a91;
$header003-user-fon: #eee;
$logo: 'logo.jpg';

$header003-height: $base-line-height * 8;
$header003-search: $base-line-height * 8;

  // @desc Header - header with mega and simple menu, search and button of personal account (menu--001)
  // @group header
  // @bemJson header--003.json

.m-wrapper {

  @include block(header003) {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background: $header003-fon;
    height: $header003-height;

    @include element(wrap) {
      position: relative;   
    }   

    @include element(burger) {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      z-index: 10;
      @include _(3 1 1 1 1);
      height: $header003-height;

      @include _(greater than $header-mobile-breakpoint) {  
        display: none;
      }

      &:before {
        font-size: $base-line-height * 3; 

        @include _(greater than mobile) {  
          font-size: $base-line-height * 4; 
        }
      }      
    }

    @include element(logo-wrap) {
      position: absolute;
      top: 0;
      left: 0;
      @include _(3 3 6 2 2);
    }

    @include element(logo) {
      display: block;
      background-image: url('../images/' + $logo);
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: contain;
      max-width: $base-line-height * 300;
      min-height: $base-line-height * 6; 
      margin-top: $base-line-height; 
      margin-bottom: $base-line-height; 
      overflow: hidden;
      text-indent: 9999px;
    }

    @include element(menu) {
      position: absolute;
      top: $header003-height;
      right: 0;
      @include _(7 4 4 4 4);
      float: none;

      @include _(greater than $header-mobile-breakpoint) {  
        position: relative;
        top: 0;
        float: right;
        @include _(12 12 8 1 1);
        margin: 0;

        & > div{
          margin: 0 16.6% 0 25%;
        }

        .menu001__1lvl-link,
        .menu001__1lvl-sub-link {
          height: $header002-height;
          overflow: hidden;
        }
      }

      .menu-mobile {
        height: calc(100vh - #{$header003-height});
        overflow: auto;
      }
    }

    @include element(search-icon) {
      display: none;
      position: absolute;
      top: 0;
      right: 8.3%;
      @include _(1 1 1 1 1);
      text-decoration: none;
      z-index: 10;
      height: $header003-height;

      @include _(greater than $header-mobile-breakpoint) {  
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @include modifier(overmenu) {
        &.header-search-icon--selected {
          z-index: 11;
          right: 0;
          justify-content: center;
        }
      }
    }

    @include element(user-icon) {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      @include _(1 1 1 1 1);
      text-decoration: none;
      z-index: 10;
      height: $header003-height;

      i {
        font-size: $base-line-height * 2; 
      }  

      @include _(greater than $header-mobile-breakpoint) {  
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
