$header007-fon: #3b8a91;
$header007-top-fon: #33777d;
$header007-user-fon: #eee;
$header007-phone-button-fon: #fff;
$header007-z-index: 5;
$logo: 'logo.jpg';

$header007-height: $base-line-height * 6;
$header007-height-mobile: $base-line-height * 8;
$header007-top-height: $base-line-height * 9;

  // @desc Header - header with menu, open search in top line, button of personal account, and phone
  // @group header
  // @bemJson header--007.json

.m-wrapper {

  @include block(header007) {
    text-align: center;
    position: fixed;
    //position: static;
    top: 0;
    left: 0;
    width: 100%; 
    height: $header007-height-mobile;
    background: $header007-fon;
    z-index: $header007-z-index;

    &:before {
      display: none;
      content: "";
      background: $header007-top-fon;
      height: $header007-top-height;
      width: 100%;
    }

    @include _(greater than $header-mobile-breakpoint) {  
      height: $header007-height + $header007-top-height;
      overflow: inherit;

      &:before {
        display: block;
      }
    }

    @include element(wrap) {
      position: relative;   
    }   

    @include element(burger) {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      z-index: 10;
      @include _(3 1 1 1 1);
      height: $header007-height-mobile;

      @include _(greater than $header-mobile-breakpoint) {  
        display: none;
      }

      &:before {
        font-size: $base-line-height * 3; 

        @include _(greater than mobile) {  
          font-size: $base-line-height * 4; 
        }
      }      
    }

    @include element(logo-wrap) {
      position: absolute;
      left: 0;
      @include _(3 3 3 2 2);
      margin: 0;
      left: 50%;
      transform: translateX(-50%);

      @include _(greater than mobile) {  
        @include _(3 3 3 2 2, $gutter: row);
      }

      @include _(greater than $header-mobile-breakpoint) {
        transform: translateX(0);  
        top: -$header007-top-height;
        left: 0;
        @include _(3 3 3 2 2);
      }
    }

    @include element(logo) {
      display: block;
      background-image: url('../images/' + $logo);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
      max-width: $base-line-height * 300;
      min-height: $header007-height-mobile - $base-line-height * 2; 
      margin-top: $base-line-height; 
      margin-bottom: $base-line-height; 
      overflow: hidden;
      text-indent: 9999px;

      @include _(greater than $header-mobile-breakpoint) {
        min-height: $header007-top-height - $base-line-height * 2; 
        background-position: 0 50%;
      }
    }

    @include element(menu) {
      position: absolute;
      top: $header007-height-mobile;
      left: 0; 
      float: none;
      @include _(12 4 4 4 4);

      @include _(greater than $header-mobile-breakpoint) {  
        top: 0;
        @include _(12 12 4 4 4);

        & > div{
          margin: 0 25% 0 0;
        }

        .menu001__1lvl-link,
        .menu001__1lvl-sub-link {
          height: $header007-height;
          overflow: hidden;
        }
      }

      .menu-mobile {
        height: calc(100vh - #{$header007-height-mobile});
        overflow: auto;
      }
    }

    @include element(user-icon) {
      display: none;
      position: absolute;
      top: -$header007-top-height;
      right: 0;
      @include _(1 1 1 1 1);
      text-align: right;
      text-decoration: none;
      z-index: 10;
      height: $header007-top-height;

      &:before {
        font-size: $base-line-height * 2;
      }    

      @include _(greater than $header-mobile-breakpoint) {  
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    @include element(button-wrap) {
      position: absolute;
      @include _(3 3 1 1 1);
      right: 0;
      top: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: $header007-height-mobile;
      overflow: hidden;

      @include _(greater than $header-mobile-breakpoint) {  
        height: $header007-height;
      }
    }

    @include element(button) {
      display: block;
      width: 100%;
      min-width: auto;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        display: none;
      }

      &:before {
        @extend %basic-icon;
        content: $header-button-icon;
        font-size: $base-line-height * 3; 

        @include _(greater than mobile) {  
          font-size: $base-line-height * 4; 
        }
      }

      @include _(greater than tablet) {  
        display: block;

        span {
          display: block;
        }

        &:before {
          display: none;
        }
      }
    }

    @include block(header-phone) {
      @include type-setting(accent-text);
      padding: $base-line-height * 2; 
      overflow: hidden;

      span{
        display: none;
        @include type-setting(text);
      }

      @include _(greater than $header-mobile-breakpoint) {
        position: absolute;  
        @include _(3 3 1 1 1);
        left: 25%;
        top: -$header007-top-height;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: $header007-top-height;
        padding: 0;

        span{
          display: block;
        }
      }
    }

    @include block(search-simple) {

      @include _(greater than $header-mobile-breakpoint) {
        position: absolute;
        top: -$header007-top-height;
        right: 6.8%; 
        @include _(5 5 1 1 1, $gutter: omega);
        height: $header007-top-height;
        display: flex;
        align-items: center;
      }

      input {
        padding-left: $base-line-height * 4;
      }

      label {

        &:before{
          @extend %basic-icon;
          content: $header-search-icon;
          font-size: $base-line-height * 2; 
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0 $base-line-height; 
          width: $base-line-height * 2;
        } 
      }
    }
  }
}
