$menu001-item-num: 5; //write the number of menu items
$menu001-sub-item-num: 4; //write the number of sub-menu items
$menu001-fon: #3b8a91;
$menu001-item-hover: #33777d;
$menu001-sub-fon: #fafafa;
$menu001-sub-fon-hover: #aaa;

$sub-menu-custom-scroll: $base-line-height * 38; //height of beautiful scroll

$header-burger-icon: $icon-menu;
$header-burger-icon-close: $icon-cancel;

$header-user-icon: $icon-lock;

$header-arrow-left: $icon-arr-right;
$header-arrow-down: $icon-arr-down;

$header-button-icon: $icon-mail-alt;

$header-phone-icon: $icon-phone;

$header-mobile-breakpoint: desktop; 

.m-wrapper {
  // @desc Header - common elements for header and menu
  // @group header

  @include block(menu-mobile) {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;

    @include modifier(show-one) {
      display: block;
    }

    @include modifier(show) {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
    }

    @include _(greater than $header-mobile-breakpoint) {  
      opacity: 1;
      visibility: visible;
    }  

    .menu {
      background: $menu001-sub-fon;
    }
  }

  @include block(menu-burger) {
    &:before{
      @extend %basic-icon;
      content: $header-burger-icon;
    }  

    @include modifier(selected) {
      &:before{
        content: $header-burger-icon-close;
      }
    }
  }

  @include block(block-bottom-menu) {
    background: $menu001-sub-fon;
    text-align: left;

    @include _(greater than $header-mobile-breakpoint) {  
      background: transparent;
    }
  }

  @include block(header-user) {

    @include element(sign-link) {
      display: block;
      padding: $base-line-height * 2;
      width: 100%;
      @include type-setting(text);
      text-decoration: none;
      overflow: hidden;

      &:hover {
        background: $menu001-item-hover;
      }
    }

    @include element(registration-link) {
      display: block;
      padding: $base-line-height * 2;
      width: 100%;
      @include type-setting(text);
      text-decoration: none;
      overflow: hidden;

      &:hover {
        background: $menu001-item-hover;
      }
    }

    @include _(greater than $header-mobile-breakpoint) {  
      display: none;
    }
  }

  @include block(header-user-icon) {
    &:before{
      @extend %basic-icon;
      content: $header-user-icon;
    }  
  }

  @include block(block-on-menu) { 
    width: 100%;
  }

  @include block(menu001) {
    text-align: center;

    @include _(greater than $header-mobile-breakpoint) {  
      width: auto;
    }

    @include modifier(mobile-right) {  
      float: right;

      @include _(greater than $header-mobile-breakpoint) {  
       float: none;
      }
    }

    @include element(1lvl-wrap) {
      position: relative;
      overflow: hidden;

      @include _(greater than $header-mobile-breakpoint) { 
        position: static; 
        width: 100%;
        float: left;
        overflow: inherit;
      }
    }

    @include element(1lvl) {
      padding: 0;
      list-style: none;
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 100vh;

      @include _(greater than $header-mobile-breakpoint) { 
        height: auto; 
        display: block;
        overflow: inherit;
        background: transparent;
      }
    }  

    @include element(1lvl-item) {
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;
      float: left;
      text-align: left;
      width: 100%;

      @include _(greater than $header-mobile-breakpoint) {  
        position: relative;
        width: auto;
        max-width: calculate-width($menu001-item-num);
      }

      &:hover, &.hover {
        background: $menu001-item-hover;

        @include _(greater than $header-mobile-breakpoint) {
          & > .sub-menu {
            opacity: 1;
            visibility: visible;
            overflow: inherit;
            transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
          }
        }
      }
    } 

    @include element(1lvl-link) {
      display: block;
      padding: $base-line-height * 2;
      width: 100%;
      @include type-setting(text);
      text-decoration: none;

      @include _(greater than $header-mobile-breakpoint) { 
        display: flex;
        align-items: center;
        width: auto;
      }

      &:hover {
        background: $menu001-item-hover;
      }
    } 

    @include element(2lvl) {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      background: $menu001-sub-fon;

      @include _(greater than $header-mobile-breakpoint) {
        top: 100%;
        left: 0;
        width: 280px;
        height: auto;
        overflow: inherit;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
      }
    } 

    @include element(2lvl-item) {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: left;

      &:hover {
        background: $menu001-sub-fon-hover;

        @include _(greater than $header-mobile-breakpoint) {
          & > .sub-menu {
            opacity: 1;
            visibility: visible;
            overflow: inherit;
            transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
          }
        }
      }
    }

    @include element(2lvl-link) {
      display: block;
      width: 100%;
      @include type-setting(text);
      text-decoration: none;
      padding: $base-line-height * 2;

      &:hover {
        background: $menu001-sub-fon-hover;
      }
    } 

    @include element(2lvl-item-back) {
      display: block;

      @include _(greater than $header-mobile-breakpoint) {  
        display: none;
      }
    }

    @include element(3lvl) {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      overflow: auto;
      background: $menu001-sub-fon;

      @include _(greater than $header-mobile-breakpoint) {
        left: 100%;
        height: auto;
        overflow: inherit;
        width: 100%;
      }
    } 

    @include element(3lvl-item) {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: left;

      &:hover {
        background: $menu001-sub-fon-hover;

        @include _(greater than $header-mobile-breakpoint) {
          & > .sub-menu {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
          }
        }
      }
    }  

    @include element(3lvl-link) {
      display: block;
      width: 100%;
      @include type-setting(text);
      text-decoration: none;
      padding: $base-line-height * 2;

      &:hover {
        background: $menu001-sub-fon-hover;
      }
    } 

    @include element(3lvl-item-back) {
      display: block;

      @include _(greater than $header-mobile-breakpoint) {  
        display: none;
      }
    }

    @include element(4lvl) {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      overflow: auto;
      background: $menu001-sub-fon;

      @include _(greater than $header-mobile-breakpoint) {
        left: 100%;
        height: auto;
        overflow: inherit;
        width: 100%;
      }
    } 

    @include element(4lvl-item) {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: left;
    }  

    @include element(4lvl-link) {
      display: block;
      width: 100%;
      @include type-setting(text);
      text-decoration: none;
      padding: $base-line-height * 2;

      &:hover {
        background: $menu001-sub-fon-hover;
      }
    }   

    @include element(4lvl-item-back) {
      display: block;

      @include _(greater than $header-mobile-breakpoint) {  
        display: none;
      }
    }
  }

  @include block(sub-menu) {
    display: none;
    overflow: hidden;

    @include _(greater than $header-mobile-breakpoint) {
      display: block;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
    }
    
    @include modifier(show) {
      display: block;
      position: inherit;
    }

    @include modifier(scroll) {
      overflow: auto;
      position: absolute;
    }

    @include modifier(right) {
      right: 0;
      left: initial;
      left: auto;
    }

    @include modifier(mega) {
      width: 100%;

      @include _(greater than $header-mobile-breakpoint) {
        .menu001__2lvl-item {
          width: calculate-width($menu001-sub-item-num);
          float: left;
        }
      }
    }

    @include modifier(title-mega) {
      width: 100%;

      @include _(greater than $header-mobile-breakpoint) {
        .menu001__2lvl-item {
          width: calculate-width($menu001-sub-item-num);
          float: left;
          padding: 0 0 9999rem 0;
          margin: 0 0 -9999rem;

          &:hover {
            background: transparent;
          }
        }
      }
    }

    @include modifier(tabs) {
      width: 100%;
      font-size: 0;
      
      @include _(greater than $header-mobile-breakpoint) {
        display: none;

        & > div {
          width: calculate-width($menu001-sub-item-num);
          position: relative;
          display: inline;
          vertical-align: top;

          a,
          a:link,
          a:hover,
          a:visited,
          a:active,
          a:focus,
          button {
            display: inline-block;
            width: calculate-width($menu001-sub-item-num);
          }

          .sub-menu {
            left: 0;
            float: left;
            width: 100%;
            height: 100%;
            position: static;

            & > div {
              width: calculate-width($menu001-sub-item-num);
              float: left;

              a,
              a:link,
              a:hover,
              a:visited,
              a:active,
              a:focus,
              button {
                width: 100%;
                display: block;              
              }
            }
          }
        }

        .menu001__2lvl-item-back {
          display: none;
        }
      }
    }

    @include modifier(custom-scroll) {

      @include _(greater than $header-mobile-breakpoint) {
        max-height: $sub-menu-custom-scroll;
      }
    }
  }

  @include block(sub-link) {
    &:after {
      display: inline-block;
      @extend %basic-icon;
      content: $header-arrow-left;
      width: $base-line-height * 2;
      padding-left: $base-line-height * 2;
    }

    &:hover {
      &:after {
        content: $header-arrow-down;
        text-decoration: none;
      }
    }
  }

  @include block(sub-item) {
    &:hover > .sub-link {
      &:after {
        content: $header-arrow-down;
        text-decoration: none;
      }
    }
  }

  @include block(sub-mega-item) {
    position: static;
    overflow: hidden;

    &:hover > .sub-link {
      &:after {
        content: $header-arrow-down;
        text-decoration: none;
      }
    }
  }

  @include block(sub-title-mega-item) {
    position: static;
    overflow: hidden;

    &:hover > .sub-link {
      &:after {
        content: $header-arrow-down;
        text-decoration: none;
      }
    }

    @include _(greater than $header-mobile-breakpoint) {
      &:hover, &.hover {
        .menu001__3lvl {
          position: static;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  @include block(sub-tabs-item) {
    position: static;
    overflow: hidden;

    &:hover > .sub-link {
      &:after {
        content: $header-arrow-down;
        text-decoration: none;
      }
    }

    @include _(greater than $header-mobile-breakpoint) {

      .sub-item--show .sub-link{
        background: $menu001-sub-fon-hover;

        &:after {
          content: $header-arrow-down;
        }
      }

      &:hover {
        .sub-menu--tabs {
          display: block;
        }

        .sub-menu--tabs .sub-menu{
          display: none;
          height: 0px;
          visibility: hidden;
          opacity: 0;
        }

        .sub-item--show{
          .sub-menu{
            display: block;
            height: auto;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  @include block(menu-column) {
    @include _(greater than $header-mobile-breakpoint) {
      width: calculate-width($menu001-sub-item-num);
      float: left;

      & > div {
        width: 100%;
      }
    }

    @include modifier(padding) {
      @include _(greater than $header-mobile-breakpoint) {
        padding-left: $base-line-height * 2;
        padding-right: $base-line-height * 2;
      }
    }
  }

  @include block(menu-photo-item) {

    &:hover {
      background: transparent;
    }

    a,
    a:link,
    a:hover,
    a:visited,
    a:active,
    a:focus,
    button {

      @include _(greater than $header-mobile-breakpoint) {
        padding-left: 0;
        padding-right: 0;
      }
      
      &.menu-photo-link {
        display: none;
        padding: 0;
        height: $base-line-height * 12;
        overflow: hidden;
        position: relative;

        img {
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 50%;
          right: 0;
          height: auto;
          min-height: 100%;
          min-width: 100%;
          transform: translateX(-50%);
        }

        @include _(greater than $header-mobile-breakpoint) {
          display: block;
        }
      }

      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }
  }

  @include block(header-phone-button-wrap) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;

    @include modifier(show) {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
    }

    @include _(greater than $header-mobile-breakpoint) {
      opacity: 1;
      visibility: visible;
    }
  }
}

