$header-actions-img-text-fon: rgba(0,0,0,0.4);
$header-actions-img-text-color: #fff;

// @desc Header - actions for header
// @group header

.m-wrapper {

  /*common .json
    { 
      "block": "actions",
      "cls": "actions",
      "content": [
        {
          "elem": "img-wrap",
          "content": [
            {
              "elem": "img",
              "link": true,
              "content": [
                {
                  "image": "http://lorempixel.com/200/300"
                }
              ]
            },
            {
              "elem": "title",
              "content": "Внимание акция!!!",
              "editable": true,
              "link": true
            }
          ]
        },
        {
          "elem": "text-wrap",
          "content": [
            {
              "elem": "link-full",
              "cls": "button-simple",
              "content": "Подробнее",
              "editable": true,
              "link": true
            }
          ]
        }
      ]
    }*/

  @include block(actions) {
    @include _(greater than $header-mobile-breakpoint) { 
      display: none;

      @include modifier(show) {
        display: block;
      }
    }
  }

  @include block(actions) {
    width: 100%;

    @include _(greater than $header-mobile-breakpoint) {  
      width: calculate-width($menu001-sub-item-num);
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 5;
    }

    @include element(img) {
      display: block;
      height: $base-line-height * 14;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        transform: translateX(-50%);
      }     
    }

    @include element(title) {
      display: block;
      @include type-setting(accent-text);
      height: $base-line-height * 4;
      overflow: hidden;
      padding: $base-line-height * 2; 
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @include element(text-wrap) {
      display: none;
      padding: $base-line-height * 2; 

      @include _(greater than $header-mobile-breakpoint) {  
        display: block;
      }
    }

    @include element(text) {
      @include type-setting(text);
      height: $base-line-height * 8;
      overflow: hidden;
      margin-bottom: $base-line-height * 2; 
    }

    /*.json for actions with text on image
    { 
      "block": "actions",
      "mods": ["img-text"],
      "cls": "actions",
      "content": [
        {
          "elem": "img-wrap",
          "content": [
            {
              "elem": "img",
              "link": true,
              "content": [
                {
                  "image": "http://lorempixel.com/200/300"
                }
              ]
            },
            {
              "elem": "title",
              "content": "Внимание акция!!!",
              "editable": true,
              "link": true
            }
          ]
        },
        {
          "elem": "text-wrap",
          "content": [
            {
              "elem": "text",
              "content": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus",
              "editable": true
            },
            {
              "elem": "link-full",
              "cls": "button-simple",
              "content": "Подробнее",
              "editable": true,
              "link": true
            }
          ]
        }
      ]
    }*/

    @include modifier(img-text) {

      .actions__img-wrap {
        display: block;
        height: $base-line-height * 14;
        overflow: hidden;
        position: relative;  
      }

      .actions__img {
        position: static;
      }

      .actions__title {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $header-actions-img-text-fon;
        color: $header-actions-img-text-color;
      }    
    }

    /*.json for actions with icon
    { 
      "block": "actions",
      "mods": ["icon"],
      "cls": "actions",
      "content": [
        {
          "elem": "img-wrap",
          "content": [
            {
              "elem": "icon-wrap",
              "link": true,
              "content": [
                {
                  "elem": "icon",
                  "icon": true
                }
              ]
            },
            {
              "elem": "title",
              "content": "Внимание акция!!!",
              "editable": true,
              "link": true
            }
          ]
        },
        {
          "elem": "text-wrap",
          "content": [
            {
              "elem": "text",
              "content": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus",
              "editable": true
            },
            {
              "elem": "link-full",
              "cls": "button-simple",
              "content": "Подробнее",
              "editable": true,
              "link": true
            }
          ]
        }
      ]
    }*/

    @include modifier(icon) {

      .actions__img-wrap {
        padding: $base-line-height * 2;
        overflow: hidden;
        height: $base-line-height * 6;
        display: flex;
        align-items: center;

        @include _(greater than $header-mobile-breakpoint) {  
          padding-bottom: 0;
        }
      }

      .actions__icon-wrap {
        padding-right: $base-line-height * 2;
        text-decoration: none;
      }

      .actions__icon {
        font-size: $base-line-height * 4;
      }

      .actions__title {
        padding: 0;
        height: $base-line-height * 2;
      }  
    }
  }
}

