$header002-fon: #3b8a91;
$header002-z-index: 5;
$logo: 'logo.jpg';

$header002-height: $base-line-height * 8;

  // @desc Header - header with simple menu (4-lvl)
  // @group header
  // @bemJson header--002.json

.m-wrapper {

  @include block(header002) {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background: $header002-fon;
    height: $header002-height;
    z-index: $header002-z-index;

    @include element(wrap) {
      position: relative;   
    }   

    @include element(burger) {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      z-index: 10;
      @include _(3 1 1 1 1);
      height: $header002-height;

      @include _(greater than $header-mobile-breakpoint) {  
        display: none;
      }

      &:before {
        font-size: $base-line-height * 3; 

        @include _(greater than mobile) {  
          font-size: $base-line-height * 4; 
        }
      }      
    }

    @include element(logo-wrap) {
      position: absolute;
      top: 0;
      left: 0;
      @include _(3 3 6 2 2);
    }

    @include element(logo) {
      display: block;
      background-image: url('../images/' + $logo);
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: contain;
      max-width: $base-line-height * 300;
      min-height: $base-line-height * 6; 
      margin-top: $base-line-height; 
      margin-bottom: $base-line-height; 
      overflow: hidden;
      text-indent: 9999px;
    }

    @include element(menu) {
      position: absolute;
      top: $header002-height;
      right: 0;
      @include _(9 4 4 4 4);
      float: none;

      @include _(greater than $header-mobile-breakpoint) {  
        position: static;
        @include _(9 9 4 4 4);
        float: right;

        .menu001__1lvl-link,
        .menu001__1lvl-sub-link {
          height: $header002-height;
          overflow: hidden;
        }
      }

      .menu-mobile {
        height: calc(100vh - #{$header002-height});
        overflow: auto;
      }
    }
  }
}
