

$logo: 'logo_bet.png';
$header-bg--beauty: 'header-bg--beauty.png';


.m-wrapper {

  @include block(header000) {
	@include modifier(beauty){
		font-family: 'Open Sans Condensed', sans-serif;
		//display: block !important;
		background: url('../images/' + $header-bg--beauty) center top repeat-x;
		background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.3) 80px, rgba(0, 0, 0, 0.4) 80px, rgba(0, 0, 0, 0.4) 120px);

		.header000__phone-button, .header000__burger {		    
			color: #00A1D6;
		}

		.header000__menu .menu{
			float: none;
			display: table;
			width: 100%;

			.sub-item{
				display: table-cell;
				float: none;
				width: auto;
				width: initial;

				a, a:link, a:hover, a:visited, a:active, a:focus{
					padding-top: $base-line-height;
					padding-bottom: $base-line-height;
					min-height: $base-line-height * 4;

					&.sub-link{
						&:after{
							width: $base-line-height * 2;
						}
					}
				}
			}

			.sub-menu{
				//width: 320px;

				&--right{
					right: 0;
					left: initial;
				}
			}
		}

		.header000__logo-wrap{
			margin-top: 0;
			margin-bottom: 0;
		}

		.header000__logo{
			height: $base-line-height * 8;
			margin-top: 0;
			margin-bottom: 0;
		}

		.header000__promotext{
			color: #ffffff;
			display: none;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			 -webkit-justify-content: center;
			justify-content: center;
			height: $base-line-height * 8;
			margin-top: 0;
			margin-bottom: 0;
			font-weight: 700;
		    text-transform: uppercase;
		    color: #fff;
			padding-right: 120px;
			font-size: 15px;

	      	@include _(greater than $header-mobile-breakpoint) {  
	      		display: -webkit-box;
	    		display: -webkit-flex;
	    		display: -ms-flexbox;
				display: flex;
			}
		}

		.header000__promotext-simple{
			text-align: right;

			a, a:link, a:hover, a:visited, a:active, a:focus{
				color: #ffffff;
				display: block;
			}

			a:hover{
				text-decoration: none;
			}
		}
		.header000__promotext-right{
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 60px;
			background: rgba(0, 0, 0, 0.2);
			display: none;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			 -webkit-justify-content: center;
			justify-content: center;
			flex-direction: column;

	      	@include _(greater than $header-mobile-breakpoint) {  
	      		display: -webkit-box;
	    		display: -webkit-flex;
	    		display: -ms-flexbox;
				display: flex;
			}

			span{
				display: block;
			}
		}

		.header000__phone-block--show{
			background: rgba(0, 0, 0, 0.8);
		}

		.header000__phone{
			font-size: 20px;
		    font-weight: 700;
		    color: #00b1eb;
		    text-align: center;
		}

		.header000__text-phone{
			color: #fff;
		    font-size: 19px;
		    text-align: center;
		}

		a, a:link, a:hover, a:visited, a:active, a:focus{
			&.header000__add-call-button{
				color: #ffffff;
				font-size: 13px;
				text-transform: uppercase;
				background-image: linear-gradient(#80D8F5 0,#80D8F5 2px, #00C2EE 2px, #00A1D6 38px, #055C9C 38px, #055C9C 40px );
				border-radius: 2px;
				font-weight: 700;
			}
		}

		a:hover{
			&.header000__add-call-button{
				background-image: linear-gradient(#80D8F5 0,#80D8F5 2px, #63DCFF 2px, #01A2D7 38px, #055C9C 38px, #055C9C 40px );
			}
		}

		.menu001__1lvl-item , .menu001__2lvl-item{
			background: transparent;

			&:hover{
				background: transparent;
			}

			a, a:link, a:hover, a:visited, a:active, a:focus{
				font-size: 17px;
				color: #ffffff;
				background: transparent;
				font-weight: 100;
				text-decoration: none;

				&:after{
					text-decoration: none;
				}
			}

			a:hover{
				color: #00b1eb;
				text-decoration: none;
				background: transparent;

				&:after{
					text-decoration: none;
				}
			}
		}

		.sub-menu{
			background: rgba(79, 79, 79, 0.8);

			a, a:link, a:hover, a:visited, a:active, a:focus{
				font-size: 15px;
				background: transparent;
			}

		}

		.header000__menu .menu-mobile{
			.menu{
				background: rgba(0, 0, 0, 0.8);
			}
			
			.sub-link:hover{
				&:after{
					text-decoration: none;
				}
			}



			.menu001__1lvl-item, .header000--beauty .sub-item{
				a, a:link, a:hover, a:visited, a:active, a:focus{
					font-size: 15px;
				}
			}

			.sub-menu{
				background: #333333;

				.menu001__2lvl-item, .sub-item{
					&, &:hover{
						background: transparent;
						text-decoration: none;
					}
				}
			}

			.sub-item{
				display: block;
			}
		}
	}
  }
}