$header009-fon: #3b8a91;
$header009-top-fon: #33777d;
$header009-user-fon: #eee;
$header009-z-index: 5;
$logo: 'logo.jpg';

$header009-height: $base-line-height * 6;
$header009-height-mobile: $base-line-height * 8;
$header009-top-height: $base-line-height * 9;

  // @desc Header - header with menu, search, button of personal account and top line
  // @group header
  // @bemJson header--009.json

.m-wrapper {

  @include block(header009) {
    text-align: center;
    position: fixed;
    //position: static;
    top: 0;
    left: 0;
    width: 100%; 
    height: $header009-height-mobile;
    background: $header009-fon;
    z-index: $header009-z-index;

    &:before {
      display: none;
      content: "";
      background: $header009-top-fon;
      height: $header009-top-height;
      width: 100%;
    }

    @include _(greater than $header-mobile-breakpoint) {  
      height: $header009-height + $header009-top-height;
      overflow: inherit;

      &:before {
        display: block;
      }
    }

    @include element(wrap) {
      position: relative;   
    }   

    @include element(burger) {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      z-index: 10;
      @include _(3 1 1 1 1);
      height: $header009-height-mobile;

      @include _(greater than $header-mobile-breakpoint) {  
        display: none;
      }

      &:before {
        font-size: $base-line-height * 3; 

        @include _(greater than mobile) {  
          font-size: $base-line-height * 4; 
        }
      }      
    }

    @include element(logo-wrap) {
      position: absolute;
      top: 0;
      @include _(3 3 3 2 2);
      margin: 0;
      left: 50%;
      transform: translateX(-50%);

      @include _(greater than mobile) {
        @include _(3 3 3 2 2, $gutter: row);
      }

      @include _(greater than $header-mobile-breakpoint) {
        top: -$header009-top-height;
      }
    }

    @include element(logo) {
      display: block;
      background-image: url('../images/' + $logo);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
      max-width: $base-line-height * 300;
      min-height: $header009-height-mobile - $base-line-height * 2; 
      margin-top: $base-line-height; 
      margin-bottom: $base-line-height; 
      overflow: hidden;
      text-indent: 9999px;

      @include _(greater than $header-mobile-breakpoint) {  
        top: -$header009-top-height;
        min-height: $header009-top-height - $base-line-height * 2;
      }
    }

    @include element(menu) {
      position: absolute;
      top: $header009-height-mobile;
      left: 0;
      @include _(12 4 4 4 4);
      float: none;

      @include _(greater than $header-mobile-breakpoint) {  
        top: 0;
        float: right;
        @include _(12 12 4 4 4);

        & > div{
          margin: 0 25% 0 0;
        }

        .menu001__1lvl-link,
        .menu001__1lvl-sub-link {
          height: $header009-height;
          overflow: hidden;
        }
      }

      .menu-mobile {
        height: calc(100vh - #{$header009-height-mobile});
        overflow: auto;
      }
    }

    @include element(search-icon) {
      display: none;
      position: absolute;
      top: 0;
      right: 8.3%;
      @include _(1 1 1 1 1);
      text-decoration: none;
      z-index: 10;
      height: $header009-height-mobile;

      &:before{
        font-size: $base-line-height * 2; 
      } 

      @include _(greater than $header-mobile-breakpoint) {  
        display: flex;
        justify-content: center;
        align-items: center;
        top: -$header009-top-height;
        height: $header009-top-height;
      }

      @include modifier(overmenu) {
        &.header-search-icon--selected {
          z-index: 11;
          right: 0;
          justify-content: center;
        }
      }
    }

    @include element(user-icon) {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      @include _(1 1 1 1 1);
      text-decoration: none;
      z-index: 10;
      height: $header009-height-mobile;

      &:before {
        font-size: $base-line-height * 2;
      }    

      @include _(greater than $header-mobile-breakpoint) {  
        display: flex;
        justify-content: center;
        align-items: center;
        top: -$header009-top-height;
        height: $header009-top-height;
      }
    }

    @include element(button-wrap) {
      position: absolute;
      @include _(3 3 1 1 1);
      right: 0;
      top: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: $header009-height-mobile;
      overflow: hidden;

      @include _(greater than $header-mobile-breakpoint) {  
        height: $header009-height;
      }
    }


    @include element(button) {
      width: 100%;
      min-width: auto;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        display: none;
      }

      &:before {
        @extend %basic-icon;
        content: $header-button-icon;
        font-size: $base-line-height * 3; 

        @include _(greater than mobile) {  
          font-size: $base-line-height * 4; 
        }
      }

      @include _(greater than tablet) {  
        display: block;

        span {
          display: block;
        }

        &:before {
          display: none;
        }
      }
    }

    @include block(header-phone) {
      @include type-setting(accent-text);
      padding: $base-line-height * 2; 
      overflow: hidden;

      span{
        display: none;
        @include type-setting(text);
      }

      @include _(greater than $header-mobile-breakpoint) {
        position: absolute;  
        @include _(4 4 4 1 1);
        left: 0;
        top: -$header009-top-height;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        height: $header009-top-height;
        padding: 0;

        span{
          display: block;
        }
      }
    }

    @include block(search) {
      @include modifier(overmenu) {

        .search__input-wrap {

          @include _(greater than $header-mobile-breakpoint) {  
            width: 100%;
          }
        }
      }
    }
  }
}
