$header008-fon: #3b8a91;
$header008-top-fon: #33777d;
$header008-user-fon: #eee;
$header008-phone-button-fon: #fff;
$header008-z-index: 5;
$logo: 'logo.jpg';

$header008-height: $base-line-height * 6;
$header008-height-mobile: $base-line-height * 8;
$header008-top-height: $base-line-height * 9;

  // @desc Header - header with menu, search, button of personal account and block with phone and button
  // @group header
  // @bemJson header--008.json

.m-wrapper {

  @include block(header008) {
    text-align: center;
    position: fixed;
    //position: static;
    top: 0;
    left: 0;
    width: 100%; 
    height: $header008-height-mobile;
    background: $header008-fon;
    z-index: $header008-z-index;

    &:before {
      display: none;
      content: "";
      background: $header008-top-fon;
      height: $header008-top-height;
      width: 100%;
    }

    @include _(greater than $header-mobile-breakpoint) {  
      height: $header008-height + $header008-top-height;
      overflow: inherit;

      &:before {
        display: block;
      }
    }

    @include element(wrap) {
      position: relative;   
    }   

    @include element(burger) {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      z-index: 10;
      @include _(3 1 1 1 1);
      height: $header008-height-mobile;

      @include _(greater than $header-mobile-breakpoint) {  
        display: none;
      }

      &:before {
        font-size: $base-line-height * 3; 

        @include _(greater than mobile) {  
          font-size: $base-line-height * 4; 
        }
      }      
    }

    @include element(logo-wrap) {
      position: absolute;
      top: 0;
      @include _(3 3 3 2 2);
      margin: 0;
      left: 50%;
      transform: translateX(-50%);

      @include _(greater than mobile) {
        @include _(3 3 3 2 2, $gutter: row);
      }

      @include _(greater than $header-mobile-breakpoint) {
        top: -$header008-top-height;
      }
    }

    @include element(logo) {
      display: block;
      background-image: url('../images/' + $logo);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
      max-width: $base-line-height * 300;
      min-height: $header008-height-mobile - $base-line-height * 2; 
      margin-top: $base-line-height; 
      margin-bottom: $base-line-height; 
      overflow: hidden;
      text-indent: 9999px;

      @include _(greater than $header-mobile-breakpoint) {  
        top: -$header008-top-height;
        min-height: $header008-top-height - $base-line-height * 2;
      }
    }

    @include element(menu) {
      position: absolute;
      top: $header008-height-mobile;
      right: 0;
      @include _(12 4 4 4 4);
      float: none;

      @include _(greater than $header-mobile-breakpoint) {  
        top: 0;
        float: right;
        @include _(12 12 4 4 4);

        .menu001__1lvl-link,
        .menu001__1lvl-sub-link {
          height: $header008-height;
          overflow: hidden;
        }
      }

      .menu-mobile {
        height: calc(100vh - #{$header008-height-mobile});
        overflow: auto;
      }
    }

    @include element(search-icon) {
      display: none;
      position: absolute;
      top: 0;
      right: 8.3%;
      @include _(1 1 1 1 1);
      text-decoration: none;
      z-index: 10;
      height: $header008-height-mobile;

      &:before{
        font-size: $base-line-height * 2; 
      } 

      @include _(greater than $header-mobile-breakpoint) {  
        display: flex;
        justify-content: center;
        align-items: center;
        top: -$header008-top-height;
        height: $header008-top-height;
      }

      @include modifier(overmenu) {
        &.header-search-icon--selected {
          z-index: 11;
          right: 0;
          justify-content: center;
        }
      }
    }

    @include element(user-icon) {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      @include _(1 1 1 1 1);
      text-decoration: none;
      z-index: 10;
      height: $header008-height-mobile;

      &:before {
        font-size: $base-line-height * 2;
      }   

      @include _(greater than $header-mobile-breakpoint) {  
        display: flex;
        justify-content: center;
        align-items: center;
        top: -$header008-top-height;
        height: $header008-top-height;
      }
    }

    @include element(phone-button-icon) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      @include _(1 1 1 1 1);
      text-decoration: none;
      height: $header008-height-mobile;

      &:before {
        @extend %basic-icon;
        content: $header-phone-icon;
        font-size: $base-line-height * 3; 

        @include _(greater than mobile) {  
          font-size: $base-line-height * 4; 
        }
      }

      @include _(greater than $header-mobile-breakpoint) {  
        display: none;
      }
    }

    @include element(phone-button-wrap) {
      display: block;
      position: absolute;
      left: 0;
      top: $header008-height-mobile;
      @include _(4 4 1 1 1);
      justify-content: flex-start;
      align-items: center;
      padding: $base-line-height * 2;
      background: $header008-phone-button-fon;

      @include _(greater than $header-mobile-breakpoint) {  
        @include _(4 4 1 1 1);
        display: flex;
        top: -$header008-top-height;
        height: $header008-top-height;
        background: transparent;
        padding: 0;
      }
    }

    @include element(phone) {
      @include type-setting(accent-text);

      &:before {
        @extend %basic-icon;
        content: $header-phone-icon;
        font-size: $base-line-height * 3; 
        vertical-align: middle;
        padding-right: $base-line-height;
      }
    }

    @include element(phone-text) {
      @include type-setting(text);
      display: block;
      padding-bottom: $base-line-height; 

      @include _(greater than $header-mobile-breakpoint) {  
        display: none;
      }
    }

    @include block(search) {
      @include modifier(overmenu) {

        .search__input-wrap {

          @include _(greater than $header-mobile-breakpoint) {  
            width: 100%;
          }
        }
      }
    }
  }
}
