$header-search-input-border-width: $base-line-height / 10;
$header-search-input-border-color: #aaa;

$header-search-icon: "\e81a";
$header-search-icon-close: "\e808";

// @desc Header - search for header
// @group header

.m-wrapper {

  @include block(header-search-icon) {
    &:before{
      @extend %basic-icon;
      content: $header-search-icon;
    }  

    @include modifier(selected) {
      &:before{
        content: $header-search-icon-close;
      }
    }
  }

  @include block(search) {
    background: $menu001-sub-fon;
    text-align: left;
    padding: $base-line-height * 2; 
    overflow: hidden;

    @include _(greater than $header-mobile-breakpoint) {  
      width: 100%;
      height: 100%;
      position: absolute;
      top: 100%;
      right: 0;
      padding: 0 $base-line-height * 2; 
    }

    @include element(wrap) { 
      @include _(greater than $header-mobile-breakpoint) {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }

    @include element(input-wrap) {  
      width: 100%;
      margin-right: 0;
      float: left;

      @include _(greater than $header-mobile-breakpoint) {  
        width: 90%;
        margin-right: 10%;
      }
    }

    @include element(input) {
      resize: vertical;
      outline: none;
      @include type-setting(text);
      padding: $base-line-height - $header-search-input-border-width;
      border: $header-search-input-border-width solid $header-search-input-border-color;
      width: 100%;

      @include placeholder {
        @include type-setting(text);
        text-overflow: ellipsis;
      }

      @include placeholder-focus {
        color: transparent;
      }
    }

    @include element(button) {
      width: 10%;
      margin-left: -10%;
      min-width: auto;
      display: none;

      @include _(greater than $header-mobile-breakpoint) {  
        display: inline-block;
      }
    }

    @include _(greater than $header-mobile-breakpoint) {  
      display: none;
    }

    @include modifier(overmenu) {
      z-index: 11;

      @include _(greater than $header-mobile-breakpoint) {  
        top: 0;
      }

      .search__input-wrap {
        width: 100%;

        @include _(greater than $header-mobile-breakpoint) {  
          width: 85%;
        }
      }
    }
  }

  @include block(search-simple) {
    background: $menu001-sub-fon;
    text-align: left;
    padding: $base-line-height * 2; 
    overflow: hidden;

    label {
      position: relative;
      width: 100%;
    }

    input {
      resize: vertical;
      outline: none;
      @include type-setting(text);
      padding: $base-line-height - $header-search-input-border-width;
      border: $header-search-input-border-width solid $header-search-input-border-color;
      width: 100%;

      @include placeholder {
        @include type-setting(text);
        text-overflow: ellipsis;
      }

      @include placeholder-focus {
        color: transparent;
      }
    }

    @include _(greater than $header-mobile-breakpoint) {  
      background: transparent;
      padding: 0;
    }
  }
}

