$top-pane-height: 40px;
$left-pane-width: 64px;
$base-z-index: 12000;

$editor-base-bg: #1E1B35;
$editor-light-bg: #3B3752;

$editor-text-color: #F7F7FC;
$editor-inactive-color: #666773;
$editor-link-color: #3FB2FF;
$editor-section-color: #4FD18A;
$editor-accent-color: #EC5035;

.m-wrapper {
  // @group internal
  // @desc Monster visual builder block
  // @bemJson visual-builder.json
  @include block(monster-visual-builder) {
    line-height: $base-line-height * 2;
    font-size: $base-font-size;


    @include element(top-pane) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      line-height: $top-pane-height;
      height: $top-pane-height;
      padding-left: $left-pane-width;
      background: $editor-light-bg;
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }


    @include element(left-pane) {
      background: $editor-base-bg;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: $left-pane-width;
    }

  }

  // @group internal
  // @desc Stackable container for dynamic editor tools
  @include block(monster-stackable-container) {
    z-index: $base-z-index;
    position: fixed;
    left: $left-pane-width;
    top: $top-pane-height;
    bottom: 0;
    min-width: 200px;
    color: $editor-text-color;
    @include element(pane) {
      background: $editor-base-bg;
      min-width: 300px;
      float: left;
      height: 100%;
      bottom: 0;
      top: 0;
      overflow-y: auto;
      @include modifier(first) {
        background: $editor-light-bg;
        min-width: 200px;
      }
    }

  }

  // @group internal
  // @desc Selects current toolbox section
  @include block(monster-environment-selector) {

    // @group internal
    // @desc Exact environment link
    // @bemJson environment-link.json
    @include element(environment-link) {
      display: block;
      text-align: center;
      width: $left-pane-width;
      height: $left-pane-width;
      line-height: $left-pane-width;
      color: $editor-inactive-color;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: $editor-text-color;
      }

      @include modifier(active) {
        background-color: $editor-light-bg;
        color: $editor-text-color;
      }
    }
  }

  // @group internal
  // @desc Guess what? It switches resolution!
  @include block(resolution-switcher) {
    background: $editor-text-color;
    float: left;
    padding: 0 20px;

    @include element(resolution-link) {
      color: $editor-base-bg;
      cursor: pointer;

      @include modifier(active) {
        color: $editor-link-color;
      }
    }
  }

  // @group internal
  @include block(monster-visual-frame) {
    z-index: -10;
    position: fixed;
    right: 10px;
    top: $top-pane-height+1px;

    height: calc(100% - #{$top-pane-height + 2px});

    outline: 1px solid $editor-inactive-color;
    min-width: 340px;
    background: #fff;
    width: 990px;
    border: 0;
  }

  @include block(materials-groups) {
    list-style: none;
    padding-left: 0;
    li {
      display: block;
    }

    @include element(switch-group) {
      color: $editor-text-color;
      padding: 1rem;
      display: block;
      border-left: 0.2rem solid $editor-light-bg;
      @include modifier(active) {
        font-weight: bold;
        background: $editor-base-bg;
        border-left: 0.2rem solid $editor-link-color;

      }
    }
  }

  @include block(materials-list) {
    display: none;
    padding-left: 0;

    @include modifier(active) {
      display: block;
      list-style: none;
    }
  }
  @include block(m-monster-content) {
    @include element(material) {
      @include modifier(highlighted) {
        box-shadow: inset 0 0 0 2px $editor-link-color;
      }
      @include modifier(active) {
        box-shadow: inset 0 0 0 2px $editor-section-color;
      }
    }
  }

}

@include block(monster-block-handlers) {
  position: absolute;
  background-color: $editor-section-color;
  color: $editor-text-color;
  min-width: 150px;
  text-align: center;
  line-height: $base-line-height*3;
}