<div class="f-item-group">
	<p>Show arrows, hide numbers on mobile</p>
	<div class="m-pagination-arrow">
	  <a class="m-pagination-arrow__arrow" href="#"><i class="demo-icon icon-basic-arrow-left-end"></i></a>
	  <a class="m-pagination-arrow__arrow" href="#"><i class="demo-icon icon-basic-arrow-left"></i></a>
	  <a class="m-pagination-arrow__number" href="#">1</a>
	  <a class="m-pagination-arrow__number" href="#">2</a>
	  <a class="m-pagination-arrow__number active" href="#">3</a>
	  <a class="m-pagination-arrow__number" href="#">4</a>
	  <a class="m-pagination-arrow__arrow" href="#"><i class="demo-icon icon-basic-arrow-right"></i></a>
	  <a class="m-pagination-arrow__arrow" href="#"><i class="demo-icon icon-basic-arrow-right-end"></i></a>
	</div>
</div>

<div class="f-item-group">
	<p>Show button on mobile</p>
	<div class="m-pagination-btn">
	  <a class="m-pagination-btn__show-more" href="#">Показать ещё</a>
	  <a class="m-pagination-btn__arrow" href="#"><i class="demo-icon icon-basic-arrow-left-end"></i></a>
	  <a class="m-pagination-btn__arrow" href="#"><i class="demo-icon icon-basic-arrow-left"></i></a>
	  <a class="m-pagination-btn__number" href="#">1</a>
	  <a class="m-pagination-btn__number" href="#">2</a>
	  <a class="m-pagination-btn__number active" href="#">3</a>
	  <a class="m-pagination-btn__number" href="#">4</a>
	  <a class="m-pagination-btn__arrow" href="#"><i class="demo-icon icon-basic-arrow-right"></i></a>
	  <a class="m-pagination-btn__arrow" href="#"><i class="demo-icon icon-basic-arrow-right-end"></i></a>
	</div>
</div>