<!--add "m-pagination--num-hide" in "m-pagination" to hide number of pagination on mobile

//add "m-pagination--btn-show" in "m-pagination" to hide all pagination and show button "show more" on mobile-->

<div class="m-pagination g--pagination-btn-show">
  <a class="m-pagination__show-more" href="#">Показать ещё</a>
  <a class="m-pagination__arrow" href="#"><i class="demo-icon icon-basic-arrow-left-end"></i></a>
  <a class="m-pagination__arrow" href="#"><i class="demo-icon icon-basic-arrow-left"></i></a>
  <a class="m-pagination__number" href="#">1</a>
  <a class="m-pagination__number" href="#">2</a>
  <a class="m-pagination__number active" href="#">3</a>
  <a class="m-pagination__number" href="#">4</a>
  <a class="m-pagination__arrow" href="#"><i class="demo-icon icon-basic-arrow-right"></i></a>
  <a class="m-pagination__arrow" href="#"><i class="demo-icon icon-basic-arrow-right-end"></i></a>
</div>