<p>Rating with a choice</p>

<div class="f-item-group">
	<form class="rating"> 
	  <input id="rating-1-5" class="rating__input" name="rating" type="radio" value="5"/>
	  <label for="rating-1-5" data-value="5" class="rating__label">
	    <i class="rating__icon demo-icon icon-basic-star"></i> 
	  </label>
	  <input id="rating-1-4" class="rating__input" name="rating" type="radio" value="4"/>
	  <label for="rating-1-4" data-value="4" class="rating__label">
	    <i class="rating__icon demo-icon icon-basic-star"></i> 
	  </label>
	  <input id="rating-1-3" class="rating__input" name="rating" type="radio" value="3"/>
	  <label for="rating-1-3" data-value="3" class="rating__label">
	    <i class="rating__icon demo-icon icon-basic-star"></i> 
	  </label>
	  <input id="rating-1-2" class="rating__input" name="rating" type="radio" value="2"/>
	  <label for="rating-1-2" data-value="2" class="rating__label">
	    <i class="rating__icon demo-icon icon-basic-star"></i> 
	  </label>
	  <input id="rating-1-1" class="rating__input" name="rating" type="radio" value="1"/>
	  <label for="rating-1-1" data-value="1" class="rating__label">
	    <i class="rating__icon demo-icon icon-basic-star"></i> 
	  </label>        
	</form>
</div>

<p>Rating without a choice</p>

<!--you should add 'rating--noselect' in <form> and add 'rating__input--active' in <input> to use a static rating-form-->

<div class="f-item-group">
	<form class="rating rating--noselect"> 
	  <input id="rating-2-5" class="rating__input" name="rating" type="radio" value="5"/>
	  <label for="rating-2-5" data-value="5" class="rating__label">
	    <i class="rating__icon demo-icon icon-basic-star"></i> 
	  </label>
	  <input id="rating-2-4" class="rating__input rating__input--active" name="rating" type="radio" value="4"/>
	  <label for="rating-2-4" data-value="4" class="rating__label">
	    <i class="rating__icon demo-icon icon-basic-star"></i> 
	  </label>
	  <input id="rating-2-3" class="rating__input" name="rating" type="radio" value="3"/>
	  <label for="rating-2-3" data-value="3" class="rating__label">
	    <i class="rating__icon demo-icon icon-basic-star"></i> 
	  </label>
	  <input id="rating-2-2" class="rating__input" name="rating" type="radio" value="2"/>
	  <label for="rating-2-2" data-value="2" class="rating__label">
	    <i class="rating__icon demo-icon icon-basic-star"></i> 
	  </label>
	  <input id="rating-2-1" class="rating__input" name="rating" type="radio" value="1"/>
	  <label for="rating-2-1" data-value="1" class="rating__label">
	    <i class="rating__icon demo-icon icon-basic-star"></i> 
	  </label>        
	</form>
</div>
