$form002-fon: lightblue;
$form002-input-border-width: $base-line-height / 10;
$form002-input-border-color: #aaa;

$form002-icon-close: "\e808";
$form002-icon-close-size: $base-line-height * 2;

.m-wrapper {

  // @desc Form - simple form (modal or static)
  // @group forms
  // @bemJson form--002.json

  @include block(form002) {
    text-align: left;
    position: relative;
    background: $form002-fon;
    padding: $base-line-height * 3;
    padding-top:  $base-line-height * 4;
    @include _(6 6 8 4 4);

    @include element(title) {
      @include type-setting(section);
      padding-right:  $base-line-height * 2;
      margin-bottom: $base-line-height;
    }

    @include element(close) {
	    position: absolute;
	    top: $base-line-height * 2;
	    right: $base-line-height * 2;
	    background: none;
	    outline: none;
	    border: none;
      text-decoration: none;

      &:before{
        @extend %basic-icon;
        content: $form002-icon-close;
        font-size: $form002-icon-close-size;
      } 
    }

    @include element(line) {
      @include _(clear);
    }

    @include element(col) {
      overflow: hidden;
      margin-top: $base-line-height * 2;

      @include modifier(label-left) {
        @extend %form-label-left;
      }

       @include modifier(label-left-margin) {
        @extend %form-label-left-margin;
      }

      @include modifier(half-left) {
        @include _(6 6 4 4 4, $gutter: row);

        @include _(greater than mobile) {  
          @include _(6 6 4 4 4, $gutter: alpha);
        }
      }

      @include modifier(half-right) {
        @include _(6 6 4 4 4, $gutter: row);

        @include _(greater than mobile) {  
          @include _(6 6 4 4 4, $gutter: omega);
        }
      }
    }

    @include element(button) {
      display: block;
      @include _(6 6 4 4 4, $gutter: row);

      @include _(greater than mobile) {  
        @include _(6 6 4 4 4, $gutter: alpha);
      }
    }
  }
}

