$form-input-border-width: $base-line-height / 10;
$form-input-border-color: #aaa;
$form-input-fon: #fff;
$form-input-color: #000;

$form-input-border-width-focus: $base-line-height / 10;
$form-input-border-color-focus: #aaa;
$form-input-fon-focus: #fff;
$form-input-color-focus: #000;

$popup-alone-wrap-fon: #fff;

.m-wrapper {
  // @desc Form - common styles for forms
  // @group forms

  @include block(form-hide-line) {
    display: none;
  }

  @include block(form-label) {
    display: block;
    margin-bottom: $base-line-height;
    @include type-setting(text);
  }

  @include block(form-input) {
    display: block;
    resize: vertical;
    outline: none;
    @include type-setting(text);
    padding: $base-line-height - $form-input-border-width;
    border: $form-input-border-width solid $form-input-border-color;
    background: $form-input-fon;
    color: $form-input-color;
    width: 100%;

    @include placeholder {
      @include type-setting(text);
      text-overflow: ellipsis;
      color: $form-input-color;
    }

    @include placeholder-focus {
      color: transparent;
    }

    &:focus {
      padding: $base-line-height - $form-input-border-width-focus;
      border: $form-input-border-width-focus solid $form-input-border-color-focus;
      background: $form-input-fon-focus;
      color: $form-input-color-focus;
    }
  }

  @include block(chosen-single) {
    @include type-setting(text);
    padding: $base-line-height - $form-input-border-width;
    border: $form-input-border-width solid $form-input-border-color;
    background: $form-input-fon;
    color: $form-input-color;

    span {
      color: $form-input-color;
    }

    &:focus {
      padding: $base-line-height - $form-input-border-width-focus;
      border: $form-input-border-width-focus solid $form-input-border-color-focus;
      background: $form-input-fon-focus;
      color: $form-input-color-focus;
    }
  }

  @include block(form-textarea) { 
    display: block;
    resize: vertical;
    outline: none;
    @include type-setting(text);
    padding: $base-line-height - $form-input-border-width;
    border: $form-input-border-width solid $form-input-border-color;
    background: $form-input-fon;
    color: $form-input-color;
    width: 100%;
    min-height: $base-line-height * 8;

    @include placeholder {
      @include type-setting(text);
      text-overflow: ellipsis;
      color: $form-input-color;
    }

    @include placeholder-focus {
      color: transparent;
    }

    &:focus {
      padding: $base-line-height - $form-input-border-width-focus;
      border: $form-input-border-width-focus solid $form-input-border-color-focus;
      background: $form-input-fon-focus;
      color: $form-input-color-focus;
    }
  }
  
  %form-label-left {

    @include block(form-label) {
      margin-bottom: $base-line-height;
      @include _(4 4 2 4 4, $gutter: row);

      @include _(greater than mobile) {  
        padding: $base-line-height 0;
        margin-bottom: 0;
        @include _(4 4 2 4 4, $gutter: alpha);
      }
    }

    @include block(form-input) {
      @include _(8 8 6 4 4, $gutter: row);

      @include _(greater than mobile) {  
        @include _(8 8 6 4 4, $gutter: omega);
      }
    }

    @include block(form-textarea) { 
      @include _(8 8 6 4 4, $gutter: row);

      @include _(greater than mobile) {  
        @include _(8 8 6 4 4, $gutter: omega);
      }
    }


    @include block(quantity) {
      @include _(8 8 6 4 4, $gutter: row);

      input {
        width: 100%;
        margin: 0;
      }

      @include _(greater than mobile) {  
        @include _(8 8 6 4 4, $gutter: omega);
      }
    }
  }

  %form-label-left-margin {

    @include _(greater than tablet) { 
      padding-top: $base-line-height * 3;
    }

    @include block(form-label) {
      margin-bottom: $base-line-height;
      @include _(4 4 8 4 4, $gutter: row);

      @include _(greater than tablet) {  
        padding: $base-line-height 0;
        margin-bottom: 0;
        @include _(4 4 8 4 4, $gutter: alpha);
      }
    }

    @include block(form-input) {
      @include _(8 8 8 4 4, $gutter: row);

      @include _(greater than tablet) {  
        @include _(8 8 8 4 4, $gutter: omega);
      }
    }

    @include block(form-textarea) { 
      @include _(8 8 8 4 4, $gutter: row);

      @include _(greater than tablet) {  
        @include _(8 8 8 4 4, $gutter: omega);
      }
    }
  }
}

.popup_wrapper .popup-scale {
  transform: scale(0.8);
}

.popup_visible .popup-scale {
  transform: scale(1);
}

.popup_wrapper .popup-slide {
  transform: translateX(0) translateY(-40%);
}

.popup_visible .popup-slide {
  transform: translateX(0) translateY(0);
}

.popup-alone-wrap{
  background: $popup-alone-wrap-fon;
  opacity: 1;
}

.popup_wrapper .popup-alone{
  transform: scale(0.8);
}

.popup_visible .popup-alone {
  transform: scale(1);
}

