$form001-fon: lightblue;

$form001-icon-close: "\e808";
$form001-icon-close-size: $base-line-height * 2;

$tabs001-header-item: 2; 

.m-wrapper {

  // @desc Form - simple form (modal or static)
  // @group forms
  // @bemJson form--001.json

  @include block(form001) {
    text-align: left;
    position: relative;
    background: $form001-fon;
    padding: $base-line-height * 3;
    padding-top:  $base-line-height * 4;
    @include _(3 4 4 4 4);

    @include element(title) {
      @include type-setting(section);
      padding-right:  $base-line-height * 2;
      margin-bottom: $base-line-height;
    }

    @include element(close) {
	    position: absolute;
	    top: $base-line-height * 2;
	    right: $base-line-height * 2;
	    background: none;
	    outline: none;
	    border: none;
      text-decoration: none;

      &:before{
        @extend %basic-icon;
        content: $form001-icon-close;
        font-size: $form001-icon-close-size;
      }  
    }

    @include element(line) {
      @include _(clear);
    }

    @include element(col) {
      overflow: hidden;
      margin-top: $base-line-height * 2;

      @include modifier(label-left) {
        @extend %form-label-left;
      }
    }

    @include element(button) {
    	display: block;
    }
  }
}

