$form003-fon: lightblue;
$form003-input-border-width: $base-line-height / 10;
$form003-input-border-color: #aaa;

$form003-icon-close: $icon-cancel;
$form003-icon-close-size: $base-line-height * 2;

$form003-breakpoint-in-modal: desktop-wide; 

.m-wrapper {

  // @desc Form - simple form (modal or static)
  // @group forms
  // @bemJson form--003.json

  @include block(form003) {
    @include _(6 6 8 4 4);

    @include element(form) {
      text-align: left;
      position: relative;
      background: $form002-fon;
      padding: $base-line-height * 3;
      padding-top: $base-line-height * 4;
    }

    @include element(title) {
      @include type-setting(section);
      padding-right:  $base-line-height * 2;
      margin-bottom: $base-line-height;
    }

    @include element(close) {
      display: none;
	    position: absolute;
	    top: $base-line-height * 2;
	    right: $base-line-height * 2;
	    background: none;
	    outline: none;
	    border: none;
      text-decoration: none;

      &:before{
        @extend %basic-icon;
        content: $form003-icon-close;
        font-size: $form003-icon-close-size;
      } 
    }

    @include element(line) {
      @include _(clear);
    }

    @include element(col) {
      margin-top: $base-line-height * 2;

      @include modifier(label-left) {
        @extend %form-label-left;
      }

       @include modifier(label-left-margin) {
        @extend %form-label-left-margin;
      }
    }

    @include element(button) {
    	display: block;
      float: none;
      @include _(8 8 6 4 4, $gutter: row);
      

      @include _(greater than mobile) { 
        @include _(8 8 6 4 4, $gutter: omega);
        float: right;         
      }
    }

    @include element(popup-button) {
      display: block;
      @include _(3 4 4 4 4);
    }

    @include modifier(in-modal) {
      @include _(12 12 8 4 4, $gutter: row);

      .form003__form {
        display: none;
      }

      .form003__popup-button {
        display: block;
      }

      @include _(greater than $form003-breakpoint-in-modal) {  
        @include _(6 6 8 4 4, $gutter: row);  

        .form003__form {
          display: block;
        }

        .form003__popup-button {
          display: none;
        }
      }
    }
  }
}

@include block(popup_wrapper) {
  .form003__form {
    @include _(6 6 6 4 4);
    float: none;

    .close-modal {
      display: block;
    }
  }
}
