$form002-fon: lightblue;
$form002-input-border-width: $base-line-height / 10;
$form002-input-border-color: #aaa;

.m-wrapper {

  @include block(form002) {
    text-align: left;
    position: relative;
    background: $form002-fon;
    padding: $base-line-height * 3;
    @include _(6 6 8 4 4);

    @include element(title) {
      @include type-setting(section);
      margin-bottom: $base-line-height * 2;
    }

    @include element(close) {
	    position: absolute;
	    top: $base-line-height;
	    right: $base-line-height;
	    font-size: $base-line-height * 2;
	    background: none;
	    outline: none;
	    border: none;
    }

    @include element(line) {
      @include _(clear);
    }

    @include element(col) {
      margin-top: $base-line-height * 2;
      line-height: 0;

      @include modifier(half-left) {
        @include _(6 6 4 4 4, $gutter: row);

        @include _(greater than mobile) {  
          @include _(6 6 4 4 4, $gutter: alpha);
        }
      }

      @include modifier(half-right) {
        @include _(6 6 4 4 4, $gutter: row);

        @include _(greater than mobile) {  
          @include _(6 6 4 4 4, $gutter: omega);
        }
      }
    }

    @include element(label) {
    	display: block;
      margin-bottom: $base-line-height;
      @include type-setting(text);
    }

    @include element(input) {
    	resize: vertical;
    	outline: none;
    	@include type-setting(text);
    	padding: $base-line-height - $form002-input-border-width;
      border: $form002-input-border-width solid $form002-input-border-color;
    	width: 100%;

    	@include placeholder {
		    @include type-setting(text);
  			text-overflow: ellipsis;
  		}

		  @include placeholder-focus {
		    color: transparent;
		  }
    }

    textarea {
      min-height: $base-line-height * 6;
    }

    @include element(button) {
      display: block;
      @include _(6 6 4 4 4, $gutter: row);

      @include _(greater than mobile) {  
        @include _(6 6 4 4 4, $gutter: alpha);
      }
    }
  }
}

