$form006-fon: #fff;
$form006-input-border-width: $base-line-height / 10;
$form006-input-border-color: #aaa;
$form006-nav-color: #eee;
$form006-nav-color-hover: #aaa;
$form006-nav-color-active: #000;

$form006-icon-close: $icon-cancel;
$form006-icon-close-size: $base-line-height * 2;

.m-wrapper {
  // @desc Form - simple form (modal or static)
  // @group forms
  // @bemJson form--006.json

  @include block(form006) {
    position: relative;  
    @include _(4 4 4 4 4, $gutter: center);

    @include element(wrap) { 
      text-align: center;
      position: relative;
    }

    @include modifier(modal) {
      display: none;
      padding: $base-line-height * 3;
      background: $form006-fon;
    }

    @include element(close) {
      position: absolute;
      top: -$base-line-height;
      right: -$base-line-height;
      background: none;
      outline: none;
      border: none;
      text-decoration: none;

      &:before{
        @extend %basic-icon;
        content: $form006-icon-close;
        font-size: $form006-icon-close-size;
      } 
    }

    @include element(title) {
      @include type-setting(sub-heading);
      margin-bottom: $base-line-height;
      padding: 0 $base-line-height;

      @include _(greater than tablet) {
        margin-bottom: $base-line-height * 2;
      }
    }

    @include element(step) {
      display: none;

      @include modifier(active) {
        display: block;
      }
    }

    @include element(line) {
      @include _(clear);
    }

    @include element(col) {
      margin-top: $base-line-height;

      @include modifier(label-left) {
        @extend %form-label-left;
      }

       @include modifier(label-left-margin) {
        @extend %form-label-left-margin;
      }

      @include _(greater than tablet) {
        margin-top: $base-line-height * 2;
      }
    }

    @include element(title-step) {
      @include type-setting(text);
    }

    @include element(label) {
    	display: block;
      margin-bottom: $base-line-height;
      @include type-setting(text);
    }

    @include element(input) {
    	resize: vertical;
    	outline: none;
    	@include type-setting(text);
    	padding: $base-line-height - $form006-input-border-width;
      border: $form006-input-border-width solid $form006-input-border-color;
    	width: 100%;

    	@include placeholder {
		    @include type-setting(text);
  			text-overflow: ellipsis;
  		}

		  @include placeholder-focus {
		    color: transparent;
		  }
    }

    textarea {
      display: block;
      min-height: $base-line-height * 6;
    }

    @include element(text-info) {
      @include type-setting(text);
    }

    @include element(nav) {
      line-height: 0;
    }

    @include element(nav-step) {
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: $base-line-height * 2;
      height: $base-line-height * 2;
      border-radius: $base-line-height;
      margin: 0 $base-line-height;
      background: $form006-nav-color;
      margin-top: $base-line-height;
      transition: background 0.3s ease-out 0s;

      &:hover {
        background: $form006-nav-color-active;
        transition: background 0.3s ease-out 0s;
      }

      @include _(greater than tablet) {
        margin-top: $base-line-height * 2;
      }

      @include modifier(active) {
        background: $form006-nav-color-active;
        transition: background 0.3s ease-out 0s;
      }
    }
  }
}

