.m-wrapper {

  @include block(content007) {
    text-align: center;

    @include modifier(left) {
      text-align: left;
    }

    @include element(nested) {
      @include _(3 3 4 4 4);
      margin-top: $base-line-height * 2;
      margin-bottom: $base-line-height * 2;
    }

    @include element(title) {
      @extend %heading;
      @include _($full-row-configuration);
    }

    @include element(title-nested) {
      @include type-setting(accent-text);
      margin-bottom: $base-line-height;
      height: $base-line-height * 4;
      overflow: hidden;
      display: block;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }

      @include _(greater than tablet) {  
        margin-bottom: $base-line-height * 2;
      }
    }

    @include element(text) {
      @include type-setting(text);
      height: $base-line-height * 6;
      overflow: hidden;
    }
  }
}
