$content004-icon-fon: #eee;

.m-wrapper {

  @include block(content004) {
    text-align: left;

    @include element(nested) {
      @include _(3 3 4 4 4);
      margin-top: $base-line-height * 2;
      margin-bottom: $base-line-height * 2;
    }

    @include element(title) {
      @extend %heading;
      @include _($full-row-configuration);
    }

    @include element(title-nested) {
      @include type-setting(accent-text);
      margin-bottom: $base-line-height;
      height: $base-line-height * 4;
      overflow: hidden;
      display: block;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }

      @include _(greater than tablet) {  
        margin-bottom: $base-line-height * 2;
      }
    }

    @include element(icon-wrap) {
      height: $base-line-height * 4;
      width: $base-line-height * 4;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $content004-icon-fon;

      @include _(greater than desktop) {
        height: $base-line-height * 5;
        line-height: $base-line-height * 5;
        width: $base-line-height * 5;
      }
    }

    @include element(icon) {
      font-size: $base-line-height * 3;
    }

    @include element(text-wrap) {
      margin-left: $base-line-height * 6;

      @include _(greater than desktop) {
        margin-left: $base-line-height * 7;
      }
    }

    @include element(text) {
      @include type-setting(text);
      height: $base-line-height * 6;
      overflow: hidden;
    }
  }
}
