body .m-wrapper {
  @include block(g) {
    @include element(no-margin) {
      @include modifier(bottom) {
        margin-bottom: 0;
      }
      @include modifier(top) {
        margin-top: 0;
      }
    }

    @include element(one-line) {
      @include modifier(top) {
        margin-top: $base-line-height * 2;
      }
      @include modifier(bottom) {
        margin-bottom: $base-line-height * 2;
      }
      @include modifier(top-bottom) {
        margin-top: $base-line-height * 6;
        margin-bottom: $base-line-height * 6;
      }
      @include modifier(center) {
        text-align: center;
      }
    }

    @include element(grid-nested) {
      @include modifier(half) {
        @include _(6 12 12 8 4);
      }
    }
  }
}