$font-color-defalt: #000;
$font-color-path-1: rgb(235, 27, 88);
$font-color-path-2: rgb(66, 36, 77);
$font-color-path-3: rgb(255, 255, 255);
$font-color-path-4: rgb(156, 156, 157);
$font-color-path-5: rgb(156, 156, 157);
$font-color-path-6: rgb(156, 156, 157);
$font-color-path-7: rgb(156, 156, 157);

@font-face {
  font-family: "basic";
  src: url("/fonts/basic.eot");
  src: url("/fonts/basic.eot") format("embedded-opentype"),
    url("/fonts/basic.woff") format("woff"),
    url("/fonts/basic.ttf") format("truetype"),
    url("/fonts/basic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "project-bw";
  src: url("/fonts/project-bw.eot");
  src: url("/fonts/project-bw.eot") format("embedded-opentype"),
    url("/fonts/project-bw.woff") format("woff"),
    url("/fonts/project-bw.ttf") format("truetype"),
    url("/fonts/project-bw.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "project-color";
  src: url("/fonts/project-color.eot");
  src: url("/fonts/project-color.eot") format("embedded-opentype"),
    url("/fonts/project-color.woff") format("woff"),
    url("/fonts/project-color.ttf") format("truetype"),
    url("/fonts/project-color.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="icon-basic-"],
[class*=" icon-basic-"],
%basic-icon {
  font-family: "basic";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering ===========
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class^="icon-project-bw-"],
[class*=" icon-project-bw-"] {
  font-family: "project-bw";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering ===========
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
  font-family: "project-bw";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-project-color-"],
[class*=" icon-project-color-"] {
  font-family: "project-color";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering ===========
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-star:before {
  content: "\e800";
  font-size: 20px;
}

.icon-basic-arrow-right:before {
  content: "\e801";
}

.icon-basic-arrow-left:before {
  content: "\e802";
}

.icon-basic-arrow-left-end:before {
  content: "\e803";
}

.icon-basic-arrow-right-end:before {
  content: "\e804";
}

.icon-basic-basket:before {
  content: "\e805";
}

.icon-basic-right:before {
  content: "\e806";
}

.icon-basic-left:before {
  content: "\e807";
}

.icon-basic-cancel:before {
  content: "\e808";
}

.icon-basic-help-circled:before {
  content: "\e809";
}

.icon-basic-play:before {
  content: "\e80a";
}

.icon-basic-megaphone:before {
  content: "\e80b";
}

.icon-basic-eye:before {
  content: "\e80c";
}

.icon-basic-info-circled:before {
  content: "\e80d";
}

.icon-basic-pencil:before {
  content: "\e80e";
}

.icon-basic-leanpub:before {
  content: "\e80f";
}

.icon-basic-twitter:before {
  content: "\e810";
}

.icon-basic-vkontakte:before {
  content: "\e811";
}

.icon-basic-facebook:before {
  content: "\e812";
}

.icon-basic-gplus:before {
  content: "\e813";
}

.icon-basic-mail-alt:before {
  content: "\e814";
}

.icon-basic-angle-up:before {
  content: "\e815";
}

.icon-basic-angle-down:before {
  content: "\e816";
}

.icon-basic-download:before {
  content: "\e817";
}

.icon-basic-menu:before {
  content: "\e818";
}

.icon-basic-phone:before {
  content: "\e819";
}

.icon-basic-search:before {
  content: "\e81a";
}

.icon-basic-lock:before {
  content: "\e81b";
}

.icon-select-alph-up:before {
  content: "i";
}

.icon-select-alph-down:before {
  content: "h";
}

.icon-select-price-up:before {
  content: "k";
}

.icon-select-price-down:before {
  content: "j";
}

.icon-project-bw-user:before {
  content: "a";
}

.icon-project-color-001-consultation .path1:before {
  content: "\e600";
  color: $font-color-path-1;
}

.icon-project-color-001-consultation .path2:before {
  content: "\e601";
  margin-left: -1.3330078125em;
  color: $font-color-path-2;
}

.icon-project-color-001-consultation .path3:before {
  content: "\e602";
  margin-left: -1.3330078125em;
  color: $font-color-path-3;
}

.icon-project-color-001-consultation .path4:before {
  content: "\e603";
  margin-left: -1.3330078125em;
  color: $font-color-path-4;
}

.icon-project-color-001-consultation .path5:before {
  content: "\e604";
  margin-left: -1.3330078125em;
  color: $font-color-path-5;
}

.icon-project-color-001-consultation .path6:before {
  content: "\e605";
  margin-left: -1.3330078125em;
  color: $font-color-path-6;
}

.icon-project-color-001-consultation .path7:before {
  content: "\e606";
  margin-left: -1.3330078125em;
  color: $font-color-path-7;
}
