.vertical-rhythm-grid {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -2;

  .guide {
    //margin-bottom: 6.25rem;

    &{
      height: $base-line-height-rem;
      width: 100%;
      //outline: 1em solid rgba(64, 224, 208, 0.3);
      border-bottom: 1px solid rgba(150,50,200,0.3);
    }
  }
}

.m-row--horisontal-rhythm-grid{

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  z-index: -3;


  .m-row{
    height: 100%;
  }
}

.horisontal-rhythm-grid {
  content: " ";
  opacity: 1;
  height: 100%;
  background: rgba(150,50,200,0.1);
  position: relative;
  @include _(12 12 8 4 4, $gutter: row);

  //.h-guide {
  //  height: 100%;
  //  background: rgba(50, 82, 200, 0.2);
  //  //@include _(1 1 1 1 1, auto);
  //}
}

.m-wrapper .grid-full{
 
}

@mixin XYi($row, $gutter-custom: row) {
  @include _($row, $gutter: $gutter-custom);
}
 
@include block(like_row) {
  @include _(clear);
  // @include _(12 12 12 8 4, $gutter: row);
}

@include block(responsiv-grid) {
  @include XYi(12 12 8 4 4);

  @include _(desktop) {
    background: red;
  }
}

