$s-icon-maestro: 45px 0px -45px 0px 39px 25px 84px 50px "sprite.png";
$s-icon-mastercard: 0px 25px 0px -25px 39px 25px 84px 50px "sprite.png";
$s-icon-visa: 0px 0px 0px 0px 45px 25px 84px 50px "sprite.png";
