$service012-fon: #fff;
$service012-hide-breakpoints: desktop;

.m-wrapper {
  // @desc Service - services on full width
  // @group services
  // @bemJson service--012.json

  @include block(service012) {

    @include element(nested) {
      @include _(12 12 8 4 4);
      margin-top: $base-line-height * 2;
      margin-bottom: $base-line-height * 2;
      background: $service012-fon;
      padding: $base-line-height * 3;
    }

    @include element(wrap-hidden) {
      display: none;

      @include modifier(on-brekpoint) {      
        @include _(greater than $service012-hide-breakpoints) {  
          display: block;
        }
      }
    }

    @include element(show-more) {
      @include _($full-row-configuration);
      overflow: hidden;
      @include _(clear);
      display: block;

      @include modifier(on-brekpoint) {       
        @include _(greater than $service012-hide-breakpoints) {  
          display: none;
        }
      }
    }

    @include element(title) {
      @extend %heading;
      @include _($full-row-configuration);
    }

    @include element(title-nested) {
      @include type-setting(accent-text);
      margin-bottom: $base-line-height * 2;
    }

    @include element(text) {
      @include type-setting(text);
    }

    @include element(nested-left) { 
      @include _(3 3 8 4 4, $gutter: alpha);
    }

    @include element(nested-right) { 
      @include _(9 9 8 4 4, $gutter: row);
      margin-top: $base-line-height * 2;

      @include _(greater than tablet) {  
        @include _(9 9 8 4 4, $gutter: omega);
        margin-top: 0;
      }
    }

    @include element(service-wrap) { 

      @include modifier(hidden) {
        display: none;
      }
    }

    @include element(service-item) { 
      @include type-setting(text);
      margin-bottom: $base-line-height * 2;
      @include _(3 3 4 4 4, 9 9 8 4 4, $gutter: alpha);
    }

    @include element(service-show-more) { 
      width: 100%;
      overflow: hidden;
      @include _(clear);
    }

    @include element(service-show-more-btn) { 
      @include type-setting(text);
      @include _(3 3 4 4 4, 9 9 8 4 4, $gutter: alpha);
      float: right;
    }

    @include element(show-more-btn) { 
      @include type-setting(text);
      margin-top: $base-line-height * 2;
      float: left;
    }

    @include element(btn-wrap) {
      text-align: center;
      @include _(clear);
      @include _($full-row-configuration);
    }
  }

  a,
  a:link,
  a:hover,
  a:visited,
  a:active,
  a:focus,
  button {
    &.service012__title-nested {
      @extend .service012__title-nested;
      text-decoration: none;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }

    &.service012__service-item {
      @extend .service012__service-item;
      text-decoration: none;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}