$footer003-fon-top: #385f61;
$footer003-fon-bottom: #1b3e40;
$footer003-height-bottom: $base-line-height * 6;
$footer003-menu-item-column: 4; //write the number of menu column
$footer003-logo: 'logo.jpg';
$footer003-logo-height: $base-line-height * 7;

.m-wrapper {
  // @desc Footer - simple footer with button
  // @group footer
  // @bemJson footer--003.json
  
  @include block(footer003) {
    width: 100%; 

    @include element(top-wrap) {
      background: $footer003-fon-top;
    }

    @include element(top-left) {
      @include _(8 12 8 4 4);
      margin-bottom: $base-line-height * 2;

      @include _(greater than desktop) {  
        display: flex;
        align-items: center;
        height: $footer003-logo-height; 
        @include _(8 8 8 4 4);
        margin-top: $base-line-height * 2;
      }
    }

    @include element(top-right) {
      overflow: hidden;
      margin-top: $base-line-height;
      margin-bottom: $base-line-height * 2;
      @include _(2 3 4 4 4);

      @include _(greater than mobile) {  
        @include _(2 3 4 4 4);
        float: right;
        display: flex;
        align-items: center;
        height: $footer003-logo-height; 
        margin-top: $base-line-height * 2;
        margin-bottom: $base-line-height;
      }

      @include _(greater than desktop) {  
        float: right;
        flex-direction: column;
        justify-content: center; 
        margin-bottom: $base-line-height * 2;
      }
    }

    @include element(logo-wrap) {
      @include _(2 3 3 4 4);
      display: flex;
      align-items: center; 
      margin-top: $base-line-height * 3;
      margin-bottom: $base-line-height;

      @include _(greater than mobile) {
        margin-top: $base-line-height * 2;
      }

      @include _(greater than desktop) {  
        margin-bottom: $base-line-height * 2;
      }
    }

    @include element(logo) {
      display: block;
      background-image: url('../images/' + $footer003-logo);
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: contain;
      min-height: $footer003-logo-height; 
      overflow: hidden;
      text-indent: 9999px;
    }

    @include element(menu) {
      width: 100%;
      font-size: 0px;
    }

    @include element(menu-item) {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
      text-align: left;
      width: 100%;
      vertical-align: middle;

      @include _(greater than mobile) {  
        max-width: 50%;
      }

      @include _(greater than tablet) {  
        max-width: calculate-width($footer003-menu-item-column);      
      }

      @include _(greater than desktop) {  
        position: relative;
        width: auto;
      }
    } 

    @include element(menu-link) {
      display: block;
      padding: $base-line-height 0;
      width: 100%;
      height: 100%;
      @include type-setting(text);
      text-decoration: none;

      @include _(greater than mobile) { 
        padding: $base-line-height;
        padding-left: 0;
      }

      @include _(greater than desktop) { 
        width: auto;
        padding: 0 $base-line-height * 2;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    @include element(button) {
      width: 100%;
    }

    @include element(bottom-wrap) {
      background: $footer003-fon-bottom;
    }

    @include element(bottom) {
      padding-top: $base-line-height * 2;
      padding-bottom: $base-line-height * 2;

      @include _(greater than mobile) {  
        padding-top: 0;
        padding-bottom: 0;
        height: $footer003-height-bottom;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    @include element(bottom-left) {
      @include _(6 6 3 4 4);
    }

    @include element(bottom-right) {
      @include _(6 6 5 4 4);
    }

    @include element(copyright) {
      @include type-setting('smallest-text');
    }

    @include element(pay-cards) {
      font-size: 0px;
      display: none;

      @include _(greater than mobile) {  
        text-align: right;
        display: block;
      }
    }

    @include element(pay-cards-text) {
      @include type-setting('smallest-text');
      line-height: $base-line-height * 3;
      display: inline-block;
    }

    @include element(pay-card-item) {
      display: block;
      float: left;
      margin-right: $base-line-height;
      width: $base-line-height * 3;
      height: $base-line-height * 3;
      text-align: center;
      overflow: hidden;
      text-decoration: none;

      @include _(greater than mobile) {  
        margin-left: $base-line-height;
        margin-right: 0;
        float: right;
      }

      @include modifier(mastercard) {
        @include sprite($s-icon-mastercard);
      }

      @include modifier(maestro) {
        @include sprite($s-icon-maestro);
      }

      @include modifier(visa) {
        @include sprite($s-icon-visa);
      }
    }
  }
}
