


<div class="m-container">
    <div class="content">
        content here
    </div>
    <div class="sidebar">
        sidebar
    </div>
    <div class="one-col">
        one-col
    </div>
</div>
<h1>Hello, World!</h1>

{{> paragraph}}

<div>
    {{> form}}
</div>
<div class="vertical-rhythm-grid">
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>
    <div class="guide"></div>

</div>