$m-pagination-background: #eee;
$m-pagination-background-active: #aaa;
$m-pagination-border-width: $base-line-height/10;
$m-pagination-border-color: #aaa;
$m-pagination-border-color-active: #aaa;

$m-pagination-arrow-right-end: "\e804";
$m-pagination-arrow-right: "\e801";
$m-pagination-arrow-left-end: "\e803";
$m-pagination-arrow-left: "\e802";

@include block(m-pagination-arrow) {
  text-align: left;
  @include _(12 12 8 4 4);
  @include type-setting(text);
  overflow: hidden;

  @include modifier(center) {
    text-align: center;
  }

  @include modifier(right) {
    text-align: right;
  }

  @include element(number) {
    display: none;
    margin-right: $gutter-standart / 4;
    text-decoration: none;
    background: $m-pagination-background;
    border: $m-pagination-border-width solid $m-pagination-border-color;
    @include border-setting($m-pagination-border-width, $base-line-height);
    min-width: $base-line-height * 4;
    text-align: center;

    @include modifier(active) {
      background: $m-pagination-background-active;
      border: $m-pagination-border-width solid $m-pagination-border-color-active;
    }

    @include _(greater than mobile) {  
      display: inline-block;
    }
  }

  @include element(arrow-left) {
    display: inline-block;
    margin-right: $gutter-standart / 4;
    text-decoration: none;
    background: $m-pagination-background;
    border: $m-pagination-border-width solid $m-pagination-border-color;
    @include border-setting($m-pagination-border-width, $base-line-height);
    min-width: $base-line-height * 4;
    text-align: center;

    &:before {
      @extend %basic-icon;
      content: $m-pagination-arrow-left;
    }
  }

  @include element(arrow-left-end) {
    display: inline-block;
    margin-right: $gutter-standart / 4;
    text-decoration: none;
    background: $m-pagination-background;
    border: $m-pagination-border-width solid $m-pagination-border-color;
    @include border-setting($m-pagination-border-width, $base-line-height);
    min-width: $base-line-height * 4;
    text-align: center;

    &:before {
      @extend %basic-icon;
      content: $m-pagination-arrow-left-end;
    }
  }

  @include element(arrow-right) {
    display: inline-block;
    margin-right: $gutter-standart / 4;
    text-decoration: none;
    background: $m-pagination-background;
    border: $m-pagination-border-width solid $m-pagination-border-color;
    @include border-setting($m-pagination-border-width, $base-line-height);
    min-width: $base-line-height * 4;
    text-align: center;

    &:before {
      @extend %basic-icon;
      content: $m-pagination-arrow-right;
    }
  }

  @include element(arrow-right-end) {
    display: inline-block;
    margin-right: $gutter-standart / 4;
    text-decoration: none;
    background: $m-pagination-background;
    border: $m-pagination-border-width solid $m-pagination-border-color;
    @include border-setting($m-pagination-border-width, $base-line-height);
    min-width: $base-line-height * 4;
    text-align: center;

    &:before {
      @extend %basic-icon;
      content: $m-pagination-arrow-right-end;
    }
  }
}

@include block(m-pagination-btn) {
  text-align: left;
  @include _(12 12 8 4 4);
  @include type-setting(text);
  overflow: hidden;

  @include modifier(center) {
    text-align: center;
  }

  @include modifier(right) {
    text-align: right;
  }

  @include element(number) {
    display: none;
    margin-right: $gutter-standart / 4;
    text-decoration: none;
    background: $m-pagination-background;
    border: $m-pagination-border-width solid $m-pagination-border-color;
    @include border-setting($m-pagination-border-width, $base-line-height);
    min-width: $base-line-height * 4;
    text-align: center;

    @include modifier(active) {
      background: $m-pagination-background-active;
      border: $m-pagination-border-width solid $m-pagination-border-color-active;
    }

    @include _(greater than mobile) {  
      display: inline-block;
    }
  }

  @include element(arrow-left) {
    display: none;
    margin-right: $gutter-standart / 4;
    text-decoration: none;
    background: $m-pagination-background;
    border: $m-pagination-border-width solid $m-pagination-border-color;
    @include border-setting($m-pagination-border-width, $base-line-height);
    min-width: $base-line-height * 4;
    text-align: center;

    &:before {
      @extend %basic-icon;
      content: $m-pagination-arrow-left;
    }

    @include _(greater than mobile) {  
      display: inline-block;
    }
  }

  @include element(arrow-left-end) {
    display: none;
    margin-right: $gutter-standart / 4;
    text-decoration: none;
    background: $m-pagination-background;
    border: $m-pagination-border-width solid $m-pagination-border-color;
    @include border-setting($m-pagination-border-width, $base-line-height);
    min-width: $base-line-height * 4;
    text-align: center;

    &:before {
      @extend %basic-icon;
      content: $m-pagination-arrow-left-end;
    }

    @include _(greater than mobile) {  
      display: inline-block;
    }
  }

  @include element(arrow-right) {
    display: none;
    margin-right: $gutter-standart / 4;
    text-decoration: none;
    background: $m-pagination-background;
    border: $m-pagination-border-width solid $m-pagination-border-color;
    @include border-setting($m-pagination-border-width, $base-line-height);
    min-width: $base-line-height * 4;
    text-align: center;

    &:before {
      @extend %basic-icon;
      content: $m-pagination-arrow-right;
    }

    @include _(greater than mobile) {  
      display: inline-block;
    }
  }

  @include element(arrow-right-end) {
    display: none;
    margin-right: $gutter-standart / 4;
    text-decoration: none;
    background: $m-pagination-background;
    border: $m-pagination-border-width solid $m-pagination-border-color;
    @include border-setting($m-pagination-border-width, $base-line-height);
    min-width: $base-line-height * 4;
    text-align: center;

    &:before {
      @extend %basic-icon;
      content: $m-pagination-arrow-right-end;
    }

    @include _(greater than mobile) {  
      display: inline-block;
    }
  }

  @include element(show-more) {
    display: inline-block;
    margin-right: $gutter-standart / 4;
    text-decoration: none;
    background: $m-pagination-background;
    border: $m-pagination-border-width solid $m-pagination-border-color;
    @include border-setting($m-pagination-border-width, $base-line-height);
    min-width: $base-line-height * 4;
    text-align: center;

    @include _(greater than mobile) {  
      display: none;
    }
  }
}