// Breakpoints based on min-width

$gutter-standart: 1.25em;
$breakpoint-width-fix: 0.0625em;

$flint: (
  "breakpoints": (
    "desktop-wide": (
      "columns": 12,
      "breakpoint": 84em - $breakpoint-width-fix
    ),

    "desktop": (
      "columns": 12,
      "breakpoint": 75em - $breakpoint-width-fix
    ),

    "tablet": (
      "columns": 8,
      "breakpoint": 60em - $breakpoint-width-fix
    ),

    "mobile": (
      "columns": 4,
      "breakpoint": 40em - $breakpoint-width-fix
    ),

    "null-breakpoint": (
      "columns": 4,
      "breakpoint": 1em
    ),
  ),
  "settings": (
    "default": "mobile",
    "grid": "fluid",
    "gutter": $gutter-standart,
    "float-direction": "left",
    "max-width": false,
    "center-container": true,
    "border-box-sizing": true,
    "instance-maps": false,
    "support-syntax": "bem",
    "debug-mode": false // debug mode fails on nested grids(flint bug)
  ),
);
$default-context: 12 12 8 4 4;
html:after {
  opacity: 0.09;
}