$tabs001-content-fon: #fff;
$tabs001-content-border-width: 0;
$tabs001-content-border-color: #aaa;

$tabs001-header-height: $base-line-height * 8;

$tabs001-header-icon-size: $base-line-height * 4;

$tabs001-header-fon: #eee;
$tabs001-header-border-width: $base-line-height / 5;
$tabs001-header-border-color: transparent;

$tabs001-header-fon-hover: #aaa;
$tabs001-header-border-color-hover: transparent;

$tabs001-header-fon-active: #aaa;
$tabs001-header-border-color-active: #000;

$tabs001-arrow: $icon-arr-right;
$tabs001-arrow-hover: $icon-arr-down;

$tabs001-header-item: 3;  //write the number of tabs items

.m-wrapper {

  // @desc Tabs - simple tabs
  // @group tabs
  // @bemJson tabs--001.json

  @include block(tabs001) {
    text-align: left;
    position: relative;
    @include _(clear);

    @include element(header-wrap) {
      font-size: 0px;
    }

    @include element(header) {
      cursor: pointer;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      margin-right: $base-line-height;
      margin-top: $base-line-height; 
      padding: $base-line-height - $tabs001-header-border-width;
      @include type-setting(text);
      background: $tabs001-header-fon;
      border: $tabs001-header-border-width solid $tabs001-header-border-color;

      &:hover {
        background: $tabs001-header-fon-hover;
        border: $tabs001-header-border-width solid $tabs001-header-border-color-hover;
      }

      &.active {
        background: $tabs001-header-fon-active;
        border: $tabs001-header-border-width solid $tabs001-header-border-color-active;
      }

      @include modifier(fix-width) {
        max-width: 100%;

        @include _(greater than mobile) {  
          width: calculate-width($tabs001-header-item);
          max-width: calculate-width($tabs001-header-item);
          margin-right: 0;
        }
      }

      @include modifier(full-width) {
        max-width: 100%;

        @include _(greater than mobile) {  
          width: 100%;
          max-width: 100%;
          margin-right: 0;
        }
      }

      @include modifier(line-bottom) {
        border: none;
        border-bottom: $tabs001-header-border-width solid $tabs001-header-border-color;
        padding: $base-line-height * 2 - $tabs001-header-border-width / 2;

        &:hover {
          border: none;
          border-bottom: $tabs001-header-border-width solid $tabs001-header-border-color-hover;
        }

        &.active {
          border: none;
          border-bottom: $tabs001-header-border-width solid $tabs001-header-border-color-active;
        }
      }

      @include modifier(fix-height) {
        padding: 0 $base-line-height * 2 - $tabs001-header-border-width;
        height: $tabs001-header-height;
      }

      @include modifier(is-arrow) {

        .tabs001__header-text {
          justify-content: space-between;

          &:after {
            display: inline-block;
            @extend %basic-icon;
            content: $tabs001-arrow;
            width: $base-line-height * 2;
            padding: 0 $base-line-height * 2;
          }
        }

        .tabs001__header-span {
          width: calc(100% -  #{$base-line-height * 8});
          flex-grow: 1;
        }

        &:hover, &.active {
          .tabs001__header-text {
            &:after {
              content: $tabs001-arrow-hover;
              text-decoration: none;
            }
          }
        }
      }
    }

    @include element(header-text) {
      display: flex;
      align-items: center;
      height: 100%;
    }

    @include element(header-icon) {
      display: block;
      float: left;
      padding-right: $base-line-height;
      font-size: $tabs001-header-icon-size;
      width: $base-line-height * 7;
      text-align: center;
    }

    @include element(content) {
      float: left;
      width: 100%;
      padding: $base-line-height * 2 0;
      @include type-setting(text);

      @include modifier(fon) {
        background: $tabs001-content-fon;
        border: $tabs001-content-border-width solid $tabs001-content-border-color;
        padding: $base-line-height * 2 - $tabs001-content-border-width;
      }
    }
  }
}

