.owl-carousel{

	clear: both;
	overflow: hidden;
	width: 100%;

  .item{
    width: 200px;
    border: solid 1px gray;
    height: 200px;
    background: pink;
    float: left;
  }
}

@import '../library/owl/owl.core';
@import '../library/owl/owl.animate';
@import '../library/owl/owl.autoheight';
@import '../library/owl/owl.lazyload';
@import '../library/owl/owl.video';
