$carousel-nav-color: #aaa;
$carousel-nav-color-hover: #666;
$carousel-nav-size: $base-line-height * 4;
$carousel-nav-left: $icon-arr-left;
$carousel-nav-right: $icon-arr-right;

$carousel-dot-fon: #eee;
$carousel-dot-fon-hover: #aaa;
$carousel-dot-fon-active: #000;

.m-wrapper{
	@include block(owl-carousel) {
		clear: both;
		overflow: hidden;
		width: 100%;

		.owl-wrapper,
		.owl-item {
		  -webkit-backface-visibility: hidden;
		  -moz-backface-visibility:    hidden;
		  -ms-backface-visibility:     hidden;
		  -webkit-transform: translate3d(0,0,0);
		  -moz-transform: translate3d(0,0,0);
		  -ms-transform: translate3d(0,0,0);
		}

	    @include element('item'){
	    	width: 100%;
		    border: solid 1px gray;
		    height: 200px;
		    background: pink;
		    @include _(12 12 8 4 4, $gutter: row);
	    }

	    .owl-nav {
	    	@include _($full-row-configuration);
	    	position: absolute;
    		top: 0;
    		left: 0;
    		display: none;
    		font-size: 0;

	      	.owl-prev, 
	      	.owl-next {
	        	display: inline-block;

	        	&:after {
		    		color: $carousel-nav-color;
			      	display: inline-block;
			      	font-size: $carousel-nav-size;
		          	line-height: $carousel-nav-size;
			      	@extend %basic-icon;
			    }

		        &:hover {

		        	&:after {
	      				color: $carousel-nav-color-hover;
	      			}
	      		}
		    }

		    .owl-next {

		    	&:after {
			      	content: $carousel-nav-right;
			    }
		    }

		    .owl-prev {
		    	margin-right: $base-line-height;

		    	&:after {
			      	content: $carousel-nav-left;
			    }
		    }
      	}

      	.owl-dots {
	      	text-align: center;
	      	display: flex;
	      	justify-content: center;
	      	width: 100%;

	      	.owl-dot {
	      		display: block;
	      		float: left;
				width: $base-line-height * 2;
				height: $base-line-height * 2;
				border-radius: $base-line-height;
	      		background: $carousel-dot-fon;
	      		margin: 0 $base-line-height / 2;

	      		&:hover {
	      			background: $carousel-dot-fon-hover;
	      		}

	      		&.active {
	      			background: $carousel-dot-fon-active;
	      		}
	      	}
      	}

      	@include modifier(with-nav-left) {
      		padding-top: $carousel-nav-size;

			.owl-nav {
				display: block;
			}
		}

		@include modifier(with-nav-right) {
			padding-top: $carousel-nav-size;

			.owl-nav {
				display: block;
				text-align: right;
			}			
		}
	}
}
