$news001-fon: #eee;

.m-wrapper {

  @include block(news001) {
    text-align: left;
    position: relative;

    @include element(nested) {
      @include _(3 3 4 4 4);
      margin-top: $base-line-height * 2;
      margin-bottom: $base-line-height * 2;
      background: $news001-fon;
      padding: $base-line-height * 2;

      @include _(greater than mobile) {  
        padding: $base-line-height * 3;
      }

      @include modifier(for-slider) {
        @include _(3 3 4 4 4, 3 3 4 4 4);
      }
    }

    @include element(carousel) {
      margin-bottom: $base-line-height * 2;
    }

    @include element(title) {
      @extend %heading;
      @include _($full-row-configuration);
    }

    @include element(link-in-title) {
      @include type-setting(text);
      display: block;
      text-decoration: none;
      margin-left: 0;
      margin-top: $base-line-height;

      &:hover{
        text-decoration: underline;
      }

      @include _(greater than mobile) {  
        display: inline-block;
        margin-left: $base-line-height * 2;
        margin-top: 0;
      }
    }

    @include element(time) {
      @include type-setting(text);
      display: inline-block;
      margin-right: $base-line-height * 2;
    }

    @include element(day) {
      @include type-setting(text);
      display: inline-block;
    }

    @include element(title-nested) {
      @include type-setting(accent-text);
      margin-top: $base-line-height;
      height: $base-line-height * 6;
      overflow: hidden;
      display: block;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }

      @include _(greater than tablet) {  
        margin-top: $base-line-height * 2;
      }
    }

    @include element(img) {
      height: $base-line-height * 23;
      overflow: hidden;
      margin: -$base-line-height * 2;
      margin-bottom: $base-line-height * 2;
      position: relative;

      img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        transform: translateX(-50%);
      }

      @include _(greater than mobile) {  
        margin: -$base-line-height * 3;
        margin-bottom: $base-line-height * 2;
      }
    }

    @include element(btn-wrap) {
      text-align: center;
      @include _(clear);
      @include _($full-row-configuration);
    }
  }
}

