$news008-fon: #eee;
$news008-fon-opacity: rgba(238,238,238,0.7);

$news008-carousel-nav-size: $base-line-height * 4;
$news008-carousel-nav-left: $icon-arr-left;
$news008-carousel-nav-right: $icon-arr-right;

.m-wrapper {

  // @desc News - line news in slider
  // @group news
  // @bemJson news--008.json

  @include block(news008) {
    text-align: left;
    background: $news008-fon;
    padding: $base-line-height * 2;
    overflow: hidden;
    display: block;
    position: relative;
    @include _(12 12 8 4 4);

    @include _(greater than mobile) {  
      display: flex;
      align-items: center;
      padding: 0;
      height: $base-line-height * 8;
    }

    @include element(nested) {
      padding-right: $base-line-height * 2; 
    }

    @include element(slider) {
      @include _(10 10 6 4 4);
      overflow: visible;
      clear: none;
      position: static;
    }

    @include element(title) {
      @include type-setting(accent-text);
      @include _(2 2 2 4 4);
      margin-bottom: $base-line-height;

      @include _(greater than mobile) {  
        margin-bottom: 0;
      }
    }

    @include element(title-nested) {
      @include type-setting(text);
      height: $base-line-height * 2;
      overflow: hidden;
      display: block;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .owl-controls {
      margin-top: $base-line-height;
      font-size: 0px;

      .owl-nav {
        position: static;
        width: auto;
        float: none;
        display: block;
        margin: 0;
      }

      .owl-nav .owl-prev, 
      .owl-nav .owl-next {
        display: block;
        float: left;
        overflow: hidden;
      }

      @include _(greater than mobile) {  
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
        margin: 0;
        height: 100%;
        min-width: $base-line-height * 10;
        padding-right: $base-line-height; 
        background: linear-gradient(to left, $news008-fon, $news008-fon-opacity);

        .owl-nav {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          height: 100%;
        }
      }
    }
  }
}

