$news005-border-width: $base-line-height/10;
$news005-border-color: #000;

.m-wrapper {

  // @desc News - column-news with one photo
  // @group news
  // @bemJson news--005.json

  @include block(news005) {
    text-align: left;

    @include element(nested-wrap) {
      @include _(3 4 8 4 4);
      margin-top: $base-line-height * 2;
      margin-bottom: $base-line-height * 2;
    }

    @include element(nested) {
      border: $news005-border-width solid $news005-border-color;
      margin-top: -$news005-border-width;
      padding-bottom: $news005-border-width;
      overflow: hidden;

      &:first-child {
        padding-bottom: $news005-border-width;
        border-bottom: $news005-border-width solid $news005-border-color;

        @include _(greater than mobile) {
          padding-bottom: 0;
          border-bottom: none;
        }

        @include _(greater than tablet) {
          padding-bottom: $news005-border-width;
          border-bottom: $news005-border-width solid $news005-border-color;
        }
      }
    }

    @include element(title) {
      @extend %heading;
      @include _($full-row-configuration);
    }

    @include element(time) {
      @include type-setting(text);
      display: inline-block;
      margin-right: $base-line-height * 2;
    }

    @include element(day) {
      @include type-setting(text);
      display: inline-block;
    }

    @include element(title-nested) {
      @include type-setting(text);
      margin-top: $base-line-height;
      height: $base-line-height * 4;
      overflow: hidden;
      display: block;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }

      @include _(greater than tablet) {  
        margin-top: $base-line-height * 2;
      }
    }

    @include element(img) {
      @include _(12 12 8 4 4, $gutter: row);
      height: $base-line-height * 16;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        transform: translateX(-50%);
      }

      @include _(greater than mobile) {  
        @include _(3 3 4 4 4, 6 6 8 4 4, $gutter: alpha);
        height: $base-line-height * 22;        
      }

      @include _(greater than tablet) {
        @include _(12 12 8 4 4, $gutter: row);
        margin: -$base-line-height * 3;
        margin-bottom: 0;
      }

      & + .news005__wrap-text {
        @include _(greater than mobile) {
          @include _(12 12 4 4 4, 6 6 8 4 4, $gutter: omega);
          padding: $base-line-height * 3 - $news005-border-width;
          padding-left: 0;
        }

        @include _(greater than tablet) {
         @include _(12 12 8 4 4, $gutter: row);
          padding: $base-line-height * 3 - $news005-border-width;
        }
      }
    }

    @include element(wrap-text) {
      @include _(12 12 8 4 4, $gutter: row);
      padding: $base-line-height * 2 - $news005-border-width;

      @include _(greater than tablet) {
        padding: $base-line-height * 3 - $news005-border-width;
      }
    }

    @include element(link-full) {
      margin-top: $base-line-height;
      display: block;

      @include _(greater than tablet) {  
        margin-top: $base-line-height * 2;
      }
    }

    @include element(btn-wrap) {
      text-align: left;
      margin-top: $base-line-height * 4;
      @include _(clear);
    }
  }
}

