$portfolio002-fon: rgba(0,0,0,0.5);
$portfolio002-text-color: #fff;

.m-wrapper {

  // @desc Portfolio - text on big image
  // @group portfolio
  // @bemJson portfolio--002.json

  @include block(portfolio002) {
    position: relative;

    @include element(nested) {
      @include _(6 6 8 4 4);
      margin-top: $base-line-height * 2;
      margin-bottom: $base-line-height * 2;
      height: $base-line-height * 44;
      overflow: hidden;
      position: relative;

      @include _(greater than mobile) {  
        height: $base-line-height * 44;
      }

      @include _(greater than desktop) {  
        height: $base-line-height * 55;
      }

      @include modifier(for-slider) {
        @include _(6 6 8 4 4, 6 6 8 4 4);
      }
    }

    @include element(carousel) {
      margin-bottom: $base-line-height * 2;
    }

    @include element(title) {
      @extend %heading;
      @include _($full-row-configuration);
    }

    @include element(title-nested) {
      @include type-setting(accent-text);
      height: $base-line-height * 4;
      overflow: hidden;
      display: block;
      text-decoration: none;
      color: $portfolio002-text-color;

      &:hover{
        text-decoration: underline;
      }
    }

    @include element(img) {

      img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        transform: translateX(-50%);
      }
    }

    @include element(text-wrap) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: $base-line-height * 2;
      background: $portfolio002-fon;

      @include _(greater than tablet) {  
        padding: $base-line-height * 3;
      }
    }

    @include element(link-full) {
      margin-top: $base-line-height * 2;

      @include _(greater than tablet) {  
        margin-top: $base-line-height * 3;
      }
    }

    @include element(btn-wrap) {
      text-align: center;
      @include _(clear);
      @include _($full-row-configuration);
    }
  }
}

