$portfolio004-fon: rgba(0,0,0,0.5);
$portfolio004-text-color: #fff;

.m-wrapper {

  // @desc Portfolio - only big image and text on hover
  // @group portfolio
  // @bemJson portfolio--001.json

  @include block(portfolio004) {
    position: relative;
    text-align: center;

    @include element(nested) {
      @include _(6 6 8 4 4);
      margin-top: $base-line-height * 2;
      margin-bottom: $base-line-height * 2;
      height: $base-line-height * 30;
      overflow: hidden;
      position: relative;

      @include _(greater than mobile) {  
        height: $base-line-height * 44;
      }

      @include _(greater than desktop) {  
        height: $base-line-height * 55;
      }

      @include modifier(for-slider) {
        @include _(6 6 8 4 4, 6 6 8 4 4);
      }

      &:hover {
        .portfolio004__text-wrap {
          opacity: 1;
          visibility: visible;
          transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
        }
      }
    }

    @include element(carousel) {
      margin-bottom: $base-line-height * 2;
    }

    @include element(title) {
      @extend %heading;
      @include _($full-row-configuration);
    }

    @include element(title-nested) {
      @include type-setting(accent-text);
      height: $base-line-height * 4;
      overflow: hidden;
      display: block;
      text-decoration: none;
      text-align: center;
      color: $portfolio004-text-color;

      &:hover{
        text-decoration: underline;
      }
    }

    @include element(text) {
      @include type-setting(text);
      margin-top: $base-line-height * 2;
      height: $base-line-height * 6;
      overflow: hidden;
      color: $portfolio004-text-color;

      @include _(greater than tablet) {  
        margin-top: $base-line-height * 3;
      }
    }

    @include element(img) {

      img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        transform: translateX(-50%);
      }
    }

    @include element(text-wrap) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: $base-line-height * 2;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      background: $portfolio004-fon;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;

      @include _(greater than tablet) {  
        padding: $base-line-height * 4;
      }

      @include _(greater than desktop) {  
        padding: $base-line-height * 6;
      }
    }

    @include element(link-full) {
      margin-top: $base-line-height * 2;

      @include _(greater than tablet) {  
        margin-top: $base-line-height * 3;
      }
    }

    @include element(btn-wrap) {
      text-align: center;
      @include _(clear);
      @include _($full-row-configuration);
    }
  }
}

