$stepbar002-number-fon: #eee;
$stepbar002-number-fon-width: $base-line-height * 4;
$stepbar002-number-fon-circle: $stepbar002-number-fon-width / 2;

.m-wrapper {

  // @desc Stepbar - with icon
  // @group stepbar
  // @bemJson stepbar--002.json

  @include block(stepbar002) {
    text-align: center;
    position: relative;

    @include element(nested) {
      	@include _(3 3 4 4 4);
      	margin-top: $base-line-height * 2;
      	margin-bottom: $base-line-height * 2;
    }

    @include element(title) {
      	@extend %heading;
      	@include _($full-row-configuration);
    }

    @include element(icon-number) {
    	margin-top: $stepbar002-number-fon-width / 2;
      	margin-bottom: $base-line-height;
      	position: relative;

      	@include _(greater than tablet) {  
	        margin-bottom: $base-line-height * 2;
	    }
    }

    @include element(icon) {
      font-size: $base-line-height * 7;
      line-height: $base-line-height * 7;
      display: block;

      @include _(greater than tablet) {
        font-size: $base-line-height * 9;
        line-height: $base-line-height * 9;
      }
    }        

    @include element(number) {
      	@include type-setting(accent-text);
      	width: $stepbar002-number-fon-width;
      	height: $stepbar002-number-fon-width;
      	line-height: $stepbar002-number-fon-width; 
      	border-radius: $stepbar002-number-fon-circle;
      	background: $stepbar002-number-fon;
      	position: absolute;
      	top: - $stepbar002-number-fon-width / 2;
      	left: calc(50% - #{$stepbar002-number-fon-width / 2});
    }

    @include element(title-nested) {
      	@include type-setting(accent-text);
      	height: $base-line-height * 2;
      	overflow: hidden;
    }

    @include element(text) {
      	@include type-setting(text);
      	height: $base-line-height * 6;
      	overflow: hidden;
      	margin-top: $base-line-height;

      	@include _(greater than tablet) {  
	        margin-top: $base-line-height * 2;
	    }
    }
  }
}

