$employees005-border-width: $base-line-height/10;
$employees005-border-color: #000;

.m-wrapper {
  // @desc Employees - big blocks
  // @group employees
  // @bemJson employees--005.json

  @include block(employees005) {
    text-align: left;
    position: relative;

    @include element(nested) {
      @include _(12 12 8 4 4);
      border: $employees005-border-width solid $employees005-border-color;
      margin-top: $base-line-height * 2 - $employees005-border-width * 2;
      margin-bottom: $base-line-height * 2;
    }

    @include element(title) {
      text-align: left;
      @extend %heading;
      @include _($full-row-configuration);
    }

    @include element(title-text) {
      float: left;
    }

    @include element(link-in-title) {
      @include type-setting(text);
      display: block;
      text-decoration: none;
      margin-left: 0;
      margin-top: $base-line-height;

      &:hover{
        text-decoration: underline;
      }

      @include _(greater than mobile) {  
        display: inline-block;
        margin-left: $base-line-height * 2;
        margin-top: 0;
      }
    }

    @include element(name) {
      @include type-setting(accent-text);
      margin-bottom: $base-line-height;
      height: $base-line-height * 2;
      overflow: hidden;
      display: block;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }

    @include element(position) {
      @include type-setting(text-bold);
      height: $base-line-height * 2;
      overflow: hidden;
      margin-bottom: $base-line-height;

      @include _(greater than mobile) {  
        margin-bottom: $base-line-height * 2;
      }
    }

    @include element(text) {
      @include type-setting(text);
      height: $base-line-height * 8;
      overflow: hidden;
    }

    @include element(phone) {
      display: block;
      @include type-setting(text);
      height: $base-line-height * 2;
      overflow: hidden;
      text-decoration: none;
      margin-bottom: $base-line-height;

      &:hover {
        text-decoration: underline;
      }
    }

    @include element(mail) {
      display: block;
      @include type-setting(text);
      height: $base-line-height * 2;
      overflow: hidden;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    @include element(social-wrap) {
      margin-top: $base-line-height;
      margin-bottom: $base-line-height;
      overflow: hidden;
      font-size: 0px;

      @include _(greater than mobile) {  
        margin-top: $base-line-height * 2;
        margin-bottom: 0;
      }
    }

    @include element(social-item) {
      display: inline-block;
      vertical-align: middle;
      margin: 0 $base-line-height;
      font-size: $base-line-height * 2;
      line-height: $base-line-height * 2;
      overflow: hidden;
      text-decoration: none;

      &:before{
        @extend %basic-icon;
      }
    }

    @include element(link-full) {
      display: block;
      margin-top: $base-line-height;
      
      @include _(greater than mobile) {  
        margin-top: $base-line-height * 2;
      }
    }    

    @include element(main-info) {  
      @include _(6 6 8 4 4, $gutter: row);

      @include _(greater than mobile) {
        padding-top: $base-line-height * 2;
        padding-bottom: $base-line-height * 2;
      }

      @include _(greater than tablet) {
        padding-left: $gutter-standart / 2;
        padding-right: $gutter-standart / 2;
        border-right: $employees005-border-width solid $employees005-border-color;
      }
    }

    @include element(photo) {
      display: block;
      height: $base-line-height * 21;
      width: 100%;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        transform: translateX(-50%);
      }

      @include _(greater than mobile) {
        @include _(6 6 4 4 4, 12 12 8 4 4);
      }
    }

    @include element(main-info-text) {
      text-align: center;
      padding: $gutter-standart;
      @include _(6 6 4 4 4, 12 12 8 4 4, $gutter: row);

      @include _(greater than mobile) {
        @include _(6 6 4 4 4, 12 12 8 4 4);
        text-align: left;
        padding: 0;
      }
    }

    @include element(other-info) {
      margin-top: -$employees005-border-width;
      border-top: $employees005-border-width solid $employees005-border-color;
      @include _(6 6 8 4 4, $gutter: row);

      @include _(greater than tablet) {
        text-align: left;
        border-top: none;
        margin-top: 0;
      }
    }    

    @include element(hours-wrap) {
      text-align: center;
      padding-left: $gutter-standart / 2;
      padding-top: $base-line-height * 2;
      padding-bottom: $base-line-height * 2;
      @include _(6 6 4 4 4, 12 12 8 4 4, $gutter: row);

      @include _(greater than tablet) {
        @include _(6 6 4 4 4, 12 12 8 4 4);
      }
    }

    @include element(title-hours) {
      @include type-setting(text-bold);
      margin-bottom: $base-line-height;
      height: $base-line-height * 2;
      overflow: hidden;
    }

    @include element(hours) {
      @include type-setting(text);
      height: $base-line-height * 2;
      overflow: hidden;
    }

    @include element(contacts) {
      text-align: center;
      padding-left: $gutter-standart;
      padding-right: $gutter-standart / 2;
      padding-top: $base-line-height * 2;
      padding-bottom: $base-line-height * 2;
      height: auto;
      border-left: none;
      margin-top: -$employees005-border-width;
      border-top: $employees005-border-width solid $employees005-border-color;
      @include _(6 6 4 4 4, 12 12 8 4 4, $gutter: row);

      @include _(greater than mobile) {
        height: $base-line-height * 25;
        border-top: none;
        border-left: $employees005-border-width solid $employees005-border-color;
      }

      @include _(greater than tablet) {
        @include _(6 6 4 4 4, 12 12 8 4 4);
      }
    }

    @include element(btn-wrap) {
      text-align: center;
      @include _(clear);
      @include _($full-row-configuration);
    }
  }
}

