$review001-background: #eee;
$review001-border-width: 2px;
$review001-border-style: solid;
$review001-border-color: #aaa;

.m-wrapper {

  @include block(review001) {
    text-align: left;

    @include element(nested) {
      @include _(12 12 8 4 4);
      margin-top: $base-line-height * 2;
      margin-bottom: $base-line-height * 2;
      padding: $base-line-height * 2;
      background: $review001-background;

      @include _(greater than tablet) {  
        margin-bottom: $base-line-height * 4;
      }
    }

    @include element(title) {
      @extend %heading;
      @include _($full-row-configuration);
    }

    @include element(title-nested) {
      @include type-setting(accent-text);
      margin-bottom: $base-line-height;
      height: $base-line-height * 2;
      overflow: hidden;
      display: block;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }

      @include _(greater than tablet) {  
        margin-bottom: $base-line-height * 2;
      }
    }

    @include element(rating-line) {
      margin-bottom: $base-line-height * 2;
      @include _(clear);
    }

    @include element(rating-col) {
      display: flex;
      float: left;
      align-items: center;
    }

    @include element(rating-name) {
      display: block;
      float: left;
      margin-right: $base-line-height;
    }

    @include element(rating) {
      display: block;
      float: left;
      margin-right: $base-line-height * 2;
    }

    @include element(person) {
      display: flex;
      align-items: center;
      height: $base-line-height * 6;
      overflow: hidden;
      text-align: left;
    }

    @include element(person-img) {
      width: $base-line-height * 6;
      height: $base-line-height * 6;
      border-radius: $base-line-height * 3;
      overflow: hidden;
      float: left;
      margin-right: 24px;

      img {
        width: 100%;
        height: auto;
        min-height: 100%;
        min-width: 100%;
      }
    }

    @include element(person-text) {
      @include type-setting(text);
      
      span {
        display: block;
      }
    }

    @include element(text) {
      @include type-setting(text);
      height: $base-line-height * 6;
      overflow: hidden;
      margin-bottom: $base-line-height * 2;
    }
  }
}
