
.m-wrapper {

  // @desc Review - review on full width without fon
  // @group reviews
  // @bemJson review--003.json

  @include block(review003) {
    text-align: center;
    position: relative;

    @include element(nested) {
      @include _(10 10 8 4 4, $gutter: center);
      margin-top: $base-line-height * 2;
      margin-bottom: $base-line-height * 2;
      padding: $base-line-height * 2;

      @include _(greater than mobile) {  
        padding: $base-line-height * 3;
      }
    }

    @include element(title) {
      @extend %heading;
      @include _($full-row-configuration);
    }

    @include element(title-nested) {
      @include type-setting(accent-text);
      margin-bottom: $base-line-height * 2;
      height: $base-line-height * 2;
      overflow: hidden;
    }

    @include element(rating-line) {
      @include _(clear);
      font-size: 0;
      overflow: hidden;
    }

    @include element(rating-col) {
      display: inline-block;
      font-size: $base-font-size;
      margin-bottom: $base-line-height;
      height: $base-line-height * 2;
      overflow: hidden;
    }

    @include element(rating-name) {
      @include type-setting(text);
      display: table-cell;
      vertical-align: middle;
      float: left;
      margin-right: $base-line-height;
    }

    @include element(rating) {
      display: table-cell;
      vertical-align: middle;
      float: left;
      margin-right: $base-line-height * 2;
    }

    @include element(person) {
      display: table;
      height: $base-line-height * 6;
      overflow: hidden;
      text-align: left;
      margin: 0 auto;
      margin-top: $base-line-height * 2;
    }

    @include element(person-img) {
      width: $base-line-height * 6;
      min-width: $base-line-height * 6;
      height: $base-line-height * 6;
      border-radius: $base-line-height * 3;
      overflow: hidden;
      float: left;
      margin-right: 24px;

      img {
        width: 100%;
        height: auto;
        min-height: 100%;
        min-width: 100%;
      }
    }

    @include element(person-text) {
      @include type-setting(text);
      display: table-cell;
      vertical-align: middle;

      span {
        display: block;
      }
    }

    @include element(text) {
      @include type-setting(text);
      height: $base-line-height * 6;
      overflow: hidden;
      margin-top: $base-line-height;
    }

    .owl-nav {
      display: none;

      @include _(greater than tablet) {  
        display: block;
      }
    }

    .owl-prev {
      position: absolute;
      top: 50%;
      left: $gutter-standart;
    }

    .owl-next {
      position: absolute;
      top: 50%;
      right: $gutter-standart;
    }
  }
}

